[2017-08-31 17:56] Symbian9 opened #1 "Updating zh_CN locale"
@mike2718, could you fix `zh_CN` locale for latest AzPainter
* https://github.com/Symbian9/azpainter/tree/master/translation/zh_CN
  * https://github.com/Symbian9/azpainter/tree/master/data/tr/zh_CN.mtr

P.S.: Use as template `en` locale
* https://github.com/Symbian9/azpainter/tree/master/translation/en

[2017-08-31 18:01] Symbian9 opened #2 "Add build instruction for macOS"
@abcang, could you add your build instruction for latest AzPainter (currently 2.1.0) in README.md
* https://github.com/Symbian9/azpainter/tree/master/README.md

REFERENCE:
* https://github.com/abcang/azpainter-mac

[2017-08-31 18:14] Symbian9 opened #3 "Add AppImage build instruction"
@probonopd, could you add pullrequests with AppImage build script for latest AzPainter (currently 2.1.0)

Also check if my repo still has this issues then, please, help fix it in `master` branch

REFERENCE:
* https://github.com/AppImage/AppImages/issues/183
* https://github.com/AppImage/AppImages/blob/master/recipes/meta/AzPainter.yml

[2017-08-31 18:38] Symbian9 opened #4 "Preparing for packaging AzPainter 2.1.0"
**Use sources of v2.1.0 release!**
* https://github.com/symbian9/azpainter/releases/tag/v2.1.0

Cast @probonopd
* [ ] Linux-based (.AppImage)
  * https://bintray.com/probono/AppImages/AzPainter/_latestVersion#files
  * [x] setup autobuilds using Travis CI
    * [ ] upload resulted binary in "Releases"
    * [ ] setup autoupload resulted binary in "Releases"

Cast @AlexanderP
* [x] Debian (.deb)

[2017-08-31 18:47] probonopd commented on #4
I can do something once the trusty ppa is available

[2017-08-31 18:49] probonopd commented on #4
I need to correct myself: Since the source code is now on GitHub, do we want a) re-package the debs from the trusty ppa into AppImages (as we did in the past), or do we want b) continuous builds for each git push, e.g., using Travis CI or the Open Build Service?

[2017-08-31 19:31] AlexanderP commented on #4
+ Ubuntu (.deb)

https://launchpad.net/~alex-p/+archive/ubuntu/azpainter

2017-08-31 21:49 GMT+03:00 probonopd <notifications@github.com>:

[2017-08-31 22:51] Symbian9 commented on #4
@probonopd, I prefer this way ;-)

Could you help setup this repo for build binary using Travis CI?

I would be happy if someone also help me setup OBS for build binary AppImage + packages (for each distributive) like it work for OpenOrienteering Mapper
* http://github.com/openorienteering/mapper
  * https://download.opensuse.org/repositories/home:/dg0yt/

[2017-08-31 23:06] Symbian9 commented on #4
I just make a release of 2.1.0 for better interaction
* https://github.com/Symbian9/azpainter/releases/tag/v2.1.0

[2017-09-01 08:06] probonopd commented on #3
Running into a build error:

[code]

Does anyone know how to fix this?
https://travis-ci.org/probonopd/azpainter/builds/270730518#L944

Here is what I did:
https://github.com/probonopd/azpainter/blob/patch-1/.travis.yml

[2017-09-01 13:51] Symbian9 commented on #3
@probonopd, found few missed files in `mlib/src/image`
* https://github.com/Symbian9/azpainter/commit/200777d0fecb73ce7a21e57a72859479a0c61b32

Now they are added in `master` and release was updated, so try do it again
* https://github.com/Symbian9/azpainter/releases/tag/v2.1.0

[2017-09-01 18:53] probonopd commented on #3
Thanks @Symbian9. Please see https://github.com/Symbian9/azpainter/pull/5.

[2017-09-01 20:17] Symbian9 opened #6 "Porting to Android"
Long-term target.

- Termux + X11
  - [ ] https://github.com/xeffyr/termux-x-repository/issues/13

### REFERENCE

- https://github.com/xeffyr/termux-x-repository
- https://sourceforge.net/projects/libsdl-android/files/apk/XServer-XSDL/
  - https://github.com/pelya/xserver-xsdl
    - https://github.com/pelya/xsdl-launcher-example
  - https://github.com/pelya/commandergenius/
- https://github.com/mr

[2017-09-01 20:22] #3 closed

[2017-09-01 20:27] AlexanderP commented on #4
+ Debian (deb)

@Symbian9 verified

2017-09-01 2:06 GMT+03:00 AppSoft4 <notifications@github.com>:

[2017-09-01 21:23] Symbian9 opened #7 "Add build instruction for FreeBSD"
@danfe, add needed info as build script and as instruction into `README.md`
* https://github.com/symbian9/azpainter/tree/master/README.md

REFERENCE:
* http://www.freshports.org/graphics/azpainter

[2017-09-01 21:26] Symbian9 commented on #3
Thank you, @probonopd ;-)

Also, maybe you could add some info in `README.md` or make it better
* https://github.com/symbian9/azpainter/tree/master/README.md

[2017-09-01 21:47] Symbian9 opened #8 "Add build instruction for CentOS"
@aevseev, add needed info as build script and as instruction into `README.md`
* https://github.com/symbian9/azpainter/tree/master/README.md

REFERENCE:
* http://download.opensuse.org/repositories/home:/aevseev/CentOS6/x86_64/azpainter-2.0.2-1.5.el6.x86_64.rpm

[2017-09-01 22:05] Symbian9 opened #9 "Add build instruction for Void Linux"
Need add needed info as build script and as instruction into `README.md`
* https://github.com/symbian9/azpainter/tree/master/README.md

REFERENCE:
* https://github.com/voidlinux/void-packages/tree/master/srcpkgs/azpainter

[2017-09-02 01:54] Symbian9 opened #10 "Travis CI build failed"
@probonopd, first build looked like succesfull, but next builds failed
[code]

[2017-09-02 09:53] probonopd commented on #3
Stange, the first two builds succeeded. Maybe the third just had an intermittent issue. Let's see how the next builds will go.

[2017-09-02 09:55] probonopd commented on #10
Please retry, maybe just an intermittent issue.

[2017-09-02 10:33] Symbian9 commented on #10
OK, after new commit it passed
* https://github.com/Symbian9/azpainter/commit/c08acd64bce60db775c54d0838dada3a11cd5110

[2017-09-02 10:37] probonopd commented on #10
Next up, check out https://github.com/probonopd/uploadtool - if you put the AppImage on GitHub Releases, users will be able to easily find it. Right now, they would have to search for a temporary download link in the build log... which no one does.

[2017-09-02 12:59] danfe opened #11 "Another round of translation fixes"
Not too much this time, just a few minor typos.  See attached [patch](https://github.com/Symbian9/azpainter/files/1272177/translation-fixes.txt).

[2017-09-02 16:11] Symbian9 commented on #11
@danfe, Could you create pull request for this task?

[2017-09-03 12:47] Symbian9 commented on #10
@probonopd, I just add few commits and build failed again. Here is end lines from latest log:
[code]

[2017-09-03 12:58] Symbian9 commented on #11
Fixed with some changes added.
* https://github.com/Symbian9/azpainter/commit/e9f7b06a4ac7a64a7ae0dc20210d0f2d1d6b2b28

**Rebuild your package again** if all OK!

[2017-09-03 13:02] probonopd commented on #10
The real error is much earlier:
`WARNING: 'aclocal-1.15' is missing on your system.`

Did you add something that requires it? Then you need to install it in `.travis.yml`.

[2017-09-03 13:05] danfe commented on #11
Proposed changes committed as of e9f7b06, closing.

[2017-09-03 13:05] #11 closed

[2017-09-03 13:06] Symbian9 commented on #10
No, I just fix locales in `master`. Nothing else

[2017-09-03 14:29] Symbian9 opened #12 "Add more repositories with AzPainter packages on Repology page"
Repology page
* https://repology.org/metapackage/azpainter/versions

TODO:
* https://github.com/repology/repology/issues/314

REFERENCE:
* https://github.com/Symbian9/azpainter/issues/4
* https://www.linux.org.ru/forum/multimedia/13223232

[2017-09-03 14:38] Symbian9 opened #13 "Add more repositories with AzPainter packages on PKGS.org page"
PKGS.org page
* https://pkgs.org/download/azpainter

TODO:
* (coming soon)

REFERENCE:
* https://github.com/Symbian9/azpainter/issues/4
* https://www.linux.org.ru/forum/multimedia/13223232

[2017-09-03 16:20] Symbian9 opened #14 "Add AzPplainter on MacPorts page"
MacPorts page
* [ ] https://github.com/macports/macports-ports/blob/master/graphics/azpainter/Portfile

Depend on
* https://github.com/Symbian9/azpainter/issues/2

REFERENCE:
* https://github.com/abcang/azpainter-mac
* https://www.macports.org/ports.php?by=category&substr=graphics

[2017-09-04 11:35] Symbian9 commented on #10
@probonopd, has you any suggestions why it still failing?

[2017-09-04 14:53] Symbian9 opened #15 "Data folder not included in AppImage"
@probonopd, could you check latest AppImage for data folder?
*

Currently, this AppImage look like not include data folder
* http://github.com/symbian9/azpainter/tree/master/data

If install DEB on Ubuntu, data folder placed as `/usr/share/azpainter/`.

As I understand, this data folder used as source for `-- datarootdir=DIR`
* https://github.com/Symbian9/azpainter/blob/master/configure#L768

P.S.

[2017-09-04 20:09] Symbian9 opened #16 "Call for Developers & Testers (AzPainter + mlib)"
Using this issue I want ask some users of Github (interested in development of image painting/editing software using C language) help test & improve **AzPainter** based on **mlib** toolkit:
* https://github.com/symbian9/azpainter

This help request addressed to next users:
* [ ] Cast @krupunkt
* [ ] Cast @CodeHammers
* [ ] Cast @ferreiradaselva
* [ ] Cast @fcpauldiaz
* [ ] Cast @KrystianTokarz
* [

[2017-09-04 23:20] Symbian9 opened #17 "Upload builds from Travis CI to releases"
FAQ
* https://docs.travis-ci.com/user/deployment/releases/

TODO:
* [x] https://github.com/probonopd/uploadtool

REFERENCE:
* https://github.com/Symbian9/azpainter/pull/5#issue-254719456
* https://github.com/japaric/trust

[2017-09-05 15:49] probonopd commented on #15
It looks like `usr/share/azpainter` is bundled inside the AppImage, as you can see:

[code]

However, the `azpainter` application tries to load the data from the absolute path `/usr/share/azpainter` rather from a path relative to the main executable:

[code]

So the code of AzPainter needs to be changed so that it does not load data (only) from a hardcoded path in a fixed location, but rather load

[2017-09-05 15:53] probonopd commented on #10
Strange, looks like `autoconfig`/`aclocal` are not properly downloaded/installed all the time. Possibly there are intermittent issues downloading these?

[2017-09-05 19:01] wjaguar commented on #16
What is the "mlib toolkit" you mentioned?

[2017-09-05 19:46] Symbian9 commented on #16
@wjaguar, **mlib** is indepedent GUI toolkit designied by author of AzPainter in pure C and distributed under BSD license
* https://github.com/Symbian9/azpainter/tree/master/mlib

[2017-09-05 19:54] Symbian9 commented on #10
So, what I must to do?

[2017-09-05 20:03] Symbian9 commented on #15
@probonopd, I will try address this info to Azel (she is owner of AzPainter).

But what about AppImage's produced using PPA for previouse version? You also check them?
* https://bintray.com/probono/AppImages/download_file?file_path=AzPainter-2.0.6.glibc2.15-x86_64.AppImage

[2017-09-05 20:24] probonopd commented on #15
I used what I described above as a "hackish workaround" ;-)

[2017-09-05 20:24] probonopd commented on #10
Just try again and hope it works next time, I guess ;-)

[2017-09-06 19:41] wjaguar commented on #16
I see. GTK+1 reinvented with different names. A dead-end approach, then. :(((

Myself, I chose a different path when all that churn in GTK+ and Qt began. The current version of mtPaint is implemented in a toolkit-agnostic (in principle) macro-language: "V-code".
https://github.com/wjaguar/mtPaint/blob/master/src/mainwindow.c#L4933
https://github.com/wjaguar/mtPaint/blob/master/src/vcode.h

Unfortu

[2017-09-06 21:25] Symbian9 commented on #16
I think this is not a "bug", its a "feature" of `mlib`. As I know, *Azel* has plans for add suport for Wayland into `mlib` soon
* http://azsky2.html.xdomain.jp/memo/index.html

@wjaguar, so, could you atleast look inside AzPainter code for improve it? Maybe, you could help fix some issues?

I very like mtPaint thanks to PuppyLinux (PuppyLinux installed in dualboot near LinuxMint on my PC), but AzP

[2017-09-07 01:46] Symbian9 commented on #15
@probonopd, I just get some info from Azel (via e-mail)

export MLIB_APPDATADIR=${APPDIR}/share/azpainter
[code]

[2017-09-07 17:45] probonopd commented on #15
We don't use an AppRun file anymoe. Can't the appplication itself use a path relative to the main executable?

[2017-09-07 18:33] Symbian9 commented on #15
@probonopd, I just sent this question for *Azel* (hope she will reply soon)

As for me, it would be good if AzPainter AppImage on first start will export all content of `/data/` folder in same folder that would be used for user config files (currently `../home/<username>/.azpainter/`. And after that use all requred data from this folder. On each launch AppImage check if `../home/<username>/.azpain

[2017-09-07 18:56] wjaguar commented on #16
No, the too-low level of abstraction *is* a bug, in our time of unpredictable changes to foundation-level libs. The more details you control, the more you have to rewrite when (*not* if) the details are no longer there, or changed beyond all recognition.

And besides, the mass of boilerplate code required to control a GTK-workalike is beyond boring. ;) mtPaint binary became significantly smaller w

[2017-09-07 19:47] Symbian9 opened #18 "Add more badges in README.md"
* https://img.shields.io
* https://github.com/badges/shields
* https://github.com/badges/badgerbadgerbadger

REFERENCE:
* https://github.com/KmolYuan/Pyslvs-PyQt5/blob/master/README.md

[2017-09-07 19:54] Symbian9 opened #19 "Add code comments in English"
Source code should include English comments, because currently comments mostly in Japanese (as result not readable for most of contributors)

[2017-09-07 19:55] Symbian9 commented on #16
Yeah, now this is on my TODO list
*

[2017-09-08 07:19] Symbian9 commented on #15
@probonopd, here is answer from Azel

[2017-09-08 16:06] probonopd commented on #15
Making the application relocateable is something that is not specific to AppImage. Here is a good resource on the topic:

https://github.com/limbahq/binreloc

[2017-09-11 13:08] Symbian9 opened #20 "Porting to postmarketOS"
TODO
* [ ] https://github.com/postmarketOS/binary-package-repo/issues/11

REFERENCE:
* https://github.com/postmarketOS/binary-package-repo/

[2017-09-14 15:20] Symbian9 opened #21 "Upload autobuilds from Travis CI to separate branch"
FAQ
* https://github.com/mkulesh/microMathematics/tree/master/autobuild

TODO
* [ ] Update - https://github.com/symbian9/azpainter/tree/master/.travis.yml
* [ ] Upload - https://github.com/symbian9/azpainter/tree/autobuild/AzPainter-autobuild-x86_64.AppImage

**REFERENCE:**

* https://github.com/mkulesh/microMathematics/issues/17#issuecomment-329486633
* https://docs.travis-ci.com/user/customizing

[2017-09-19 14:16] Symbian9 opened #22 "Layer blending modes"
REFERENCE:
* https://helpx.adobe.com/photoshop/using/blending-modes.html
  * https://helpx.adobe.com/ru/photoshop/using/blending-modes.html
  * https://helpx.adobe.com/ua/photoshop/using/blending-modes.html

[2017-09-19 15:12] Symbian9 opened #23 "Preparing for packaging AzPainter 2.1.1"
**AzPainter 2.1.1** (with fixed locales)
* https://github.com/Symbian9/azpainter/releases/tag/v2.1.1

**PACKAGING STATUS:**
AppImage (from `master`): [![Build status](https://travis-ci.org/Symbian9/azpainter.svg?branch=master)](https://travis-ci.org/Symbian9/azpainter)

[![Packaging status](https://repology.org/badge/vertical-allrepos/azpainter.svg)](https://repology.org/metapackage/azpainter)

**

[2017-09-19 16:18] Symbian9 opened #24 "Add Meson build script"
http://mesonbuild.com/

REFERENCE:
* https://github.com/meghprkh/libgamepad/blob/master/meson.build
* https://github.com/meghprkh/libgamepad/blob/master/meson_options.txt

[2017-09-21 13:03] Symbian9 opened #25 "mlib (as submodule)"
TODO
* submodule structure

REFERENCE:
* https://github.com/vurtun/nuklear

[2017-09-23 03:15] Symbian9 commented on #10
@probonopd, what's again?
* https://travis-ci.org/Symbian9/azpainter/jobs/278849056

[code]

[2017-09-23 08:45] probonopd commented on #10
The real issue is https://travis-ci.org/Symbian9/azpainter/jobs/278849056#L538
Same as https://github.com/Symbian9/azpainter/issues/10#issuecomment-327219876

[2017-09-24 18:33] Symbian9 commented on #23
Anybody could explain me what need fix in `master`?
*

[2017-09-25 13:47] Symbian9 opened #26 "Add build instruction for Puppy Linux"
Save this as `/path/to/your/petbuild/azpainter/azpainter.petbuild`

[code]
**Desktop file**
`Save this as /path/to/your/petbuild/azpainter/azpainter.desktop`

[code]

Then you can compile this in your Puppy by doing this:

[code]
As result you could get PET-package (`azpainter-*.pet`)

**REFERENCE:**
* http://murga-linux.com/puppy/viewtopic.php?p=968429&search_id=757558597#968429
* http://www.murg

[2017-09-25 14:24] Symbian9 commented on #15
@probonopd, starting from AzPainter 2.1.1 there is custom variable for `/data/` directory
* https://github.com/Symbian9/azpainter/blob/master/README#L114-L124

So, what need add in `.travis.yml` for set this variable in AppImage to use `/home/<username>/.local/share/azpainter` (and on first launch selfextract needed data to this dorectory)?

[2017-09-25 15:51] danfe commented on #23
I've updated FreeBSD port; did not find any typos/mistakes in the latest translations.

[2017-09-25 18:02] probonopd commented on #15
The source code should be changed so that `<INSTALLDIR>` is automatically set based on where the main exeutable is. See https://github.com/limbahq/binreloc.

In the meantime, you may want to write a custom `AppRun` bash script that exports that variable.

[2017-10-04 00:54] Symbian9 opened #27 "Travis CI + Pandoc for autobuild docs (*.md -> *.pdf)"
Setup `.travis.yml` for converting Markdown docs to PDF automatically on each commit and upload resulted PDF back on Github (in separate branch)
* https://gist.github.com/willprice/e07efd73fb7f13f917ea
* https://github.com/jgm/pandoc/wiki/Using-pandoc-in-Travis-CI
* https://github.com/mkulesh/microMathematics/tree/master/autobuild

### REFERENCE
* https://pandoc.org/demos.html
* http://vaibhavsaga

[2017-10-05 23:47] Symbian9 opened #28 "Can't open some PSD file"
Test case:
* http://horoshop.com.ua/content/files/electro_checkout_test-v1.2.psd

![azpainter psd](https://img-host.org.ua/images/azpainterpsdbug.png)

AzPainter version: 2.1.1 (and older)

### Test it in other software
* Gimp 2.9.x (and older) - **FAILED**
* LibreOffice Draw 5.1.6 - *OK*
  * ![lo draw psd](https://img-host.org.ua/images/lopsdbug.png)
* Simple Viewer GL - *OK*
  * ![svgl psd](http

[2017-10-06 01:06] Symbian9 opened #29 "Usefull tools (that could be merged)"
* https://github.com/Playrix/psd_ockham

* https://github.com/kyamagu/psd2svg

[2017-10-07 11:05] Symbian9 commented on #28
Azel reply:

P.S.: `patch` was attached

[2017-10-07 12:05] #28 closed

[2017-10-07 12:43] Symbian9 commented on #10
@probonopd, autobuild failed. Again...

Look like still same problem:

How fix it?

[2017-10-08 11:22] Symbian9 commented on #10
Well I apply `chmod +x install-sh`, but it still not fix Travis CI autobuild. So, yep, issue related to non-exist `automake 1.15` on official Trusty repo
* https://api.travis-ci.org/jobs/285033728/log.txt?deansi=true
[code]

So, temporary will try add backported `automake-1.15` from one of the described PPA's above.

[2017-10-08 12:06] Symbian9 commented on #10
@probonopd, after install `automake-1.15` backported for Trusty from `ppa:ondrej/autotools` now all OK in `master`
* https://api.travis-ci.org/jobs/285044511/log.txt?deansi=true
  * https://transfer.sh/fuoeh/AzPainter-git.44218b1-x86_64.AppImage

Temporary close this issue using
* https://github.com/Symbian9/azpainter/commit/4cd9201cc061288ca8db0b2e97dc2fdbfc13bc7e
* https://github.com/Symbian9/az

[2017-10-08 12:06] #10 closed

[2017-10-08 12:43] Symbian9 commented on #3
Maybe, need add `make check` before building to `.travis.yml`
* https://github.com/fontforge/fontforge/pull/3171

[2017-10-08 20:05] #4 closed

[2017-10-09 01:32] Symbian9 commented on #17
Thank you, @probonopd ! Now it work ;-)
* https://github.com/Symbian9/azpainter/tree/continuous

[2017-10-09 01:33] Symbian9 commented on #17
https://github.com/Symbian9/azpainter/commit/a5b5d74cf781bb3bc05af7f6cd97b3e399116d79

[2017-10-09 01:33] #17 closed

[2017-10-09 19:12] probonopd commented on #3
Possibly, did you try?

[2017-10-10 23:49] Symbian9 opened #30 "Add "photoshop:LayerText" support (with text editing)"
Testcase
* http://ui-cloud.com/res/designmoo/3D_style/3d.psd.zip
* Other resources
  * http://www.freepik.com/free-psd/text-effects
  * https://www.graphicsfuel.com/category/text-effect/

### REFERENCE
* https://helpx.adobe.com/photoshop/using/editing-text.html
* http://www.dummies.com/software/adobe/photoshop/create-a-text-layer-in-photoshop-cs5/
* https://graphicdesign.stackexchange.com/question

[2017-10-13 01:17] Symbian9 opened #31 "Porting to Windows"
Using `Xming`
* https://sourceforge.net/projects/xming/

[2017-10-17 10:05] Symbian9 commented on #2
Some additional info
* https://github.com/AppImage/AppImageKit/wiki/AppImage-for-macOS-switchers

[2017-11-25 14:17] Symbian9 opened #32 "Wayland support"
Add Wayland support to AzPainter/mlib
* http://azsky2.html.xdomain.jp/note/wayland/index.html

[2017-11-25 14:23] Symbian9 opened #33 "Add info on AppImageHub"
Thanks to @probonopd, AzPainter added to AppImageHub list ;-)
* http://appimage.github.io/apps
  * https://github.com/appimage/appimage.github.io

TODO (for me)
* [ ] Fix/Update AzPainter page:
  * https://github.com/AppImage/appimage.github.io/blob/master/apps/AzPainter.md

[2017-11-25 14:44] Symbian9 opened #34 "Add info on supported file formats"
Moved to https://github.com/Symbian9/azpainter/issues/38

[2017-11-25 18:10] probonopd commented on #33
All these files are automatically generated from the information contained inside the AppImage itself. The only file that can be changed manually is https://github.com/AppImage/appimage.github.io/blob/master/data/AzPainter

[2017-11-25 21:53] Symbian9 commented on #33
Oh, thanks for the info! Now TODO updated.

But what about `screenshot.png`?

P.S.: My `azpainter.desktop` has no description info, so I should fix it own repo & recreate AppImage.

[2017-11-25 23:01] probonopd commented on #33
You can include an AppStream metainfo file in the AppImage which includes a screenshot of your choice. See https://github.com/AppImage/appimage.github.io/blob/master/README.md#checklist-for-submitting-your-own-appimage

[2017-11-27 04:17] Symbian9 commented on #33
I read now about `AppStream metainfo file`, but still can't understand where I should place own `screenshot.png` for AzPainter.

[2017-11-27 21:19] probonopd commented on #33
On the website of the AzPainter project. And put the URL of the screenshot into the appropriate place in the xml file as described in the AppStream documentation.

[2017-11-28 01:23] Symbian9 commented on #33
But what to do if there no good looking screenshot on apps' official website?

[2017-11-28 06:26] probonopd commented on #33
Then you ask the author to add one :-)

[2017-11-28 13:37] Symbian9 commented on #33
Well, then I will ask *Azel* (author) to do it.

[2017-12-22 02:03] Symbian9 commented on #4
macOS port ready!
- https://github.com/abcang/azpainter-mac/releases/tag/2.1.0

https://twitter.com/abcang1015/status/943838453506088960

[2017-12-22 02:06] Symbian9 commented on #23
macOS port ready!
- https://github.com/abcang/azpainter-mac/releases/tag/2.1.0

https://twitter.com/abcang1015/status/943838453506088960

[2018-01-01 16:35] abcang commented on #2
I made it possible to install azpainter with homebrew.
https://github.com/abcang/homebrew-azpainter

We can install with these commands.

[code]

[2018-01-02 16:28] Symbian9 commented on #2
Awesome!

What about MacPorts?

- https://github.com/Symbian9/azpainter/issues/14

[2018-01-02 17:12] abcang commented on #2
I have never used MacPorts, so I want to leave it to others.

[2018-04-08 15:35] Symbian9 commented on #6
Cast @xeffyr for help

[2018-04-08 18:46] xeffyr commented on #6
@Symbian9, I was able to build this program, but I'm getting a segfault.

GDB output:
[code]

[2018-04-08 19:56] Symbian9 commented on #6
@xeffyr, thank you for log. I will send it to *Azel* (original developer of AzPainter & mlib toolkit) for deeper review.

[2018-04-08 20:02] Symbian9 commented on #6
@xeffyr, could you try build [mThemeEditor](http://azsky2.html.xdomain.jp/linux/mthemeeditor.html) (minimal `mlib`-based app), please?

- Source - http://azsky2.html.xdomain.jp/linux/file/mthemeeditor-1.0.0.tar.xz
![mThemeEditor](http://azsky2.html.xdomain.jp/linux/img/mthemeeditor.png)

[2018-04-08 21:34] xeffyr commented on #6
mThemeEditor works.

packages (arm/aarch64):
https://github.com/xeffyr/termux-x-repository/raw/master/devel/mthemeeditor_1.0.0_arm.deb
https://github.com/xeffyr/termux-x-repository/raw/master/devel/mthemeeditor_1.0.0_aarch64.deb

[2018-04-08 21:40] Symbian9 commented on #6
If so, then all look promised.

Okay, hope that *Azel* will reply in short on AzPainter segfault report.

[2018-04-08 21:51] xeffyr commented on #6
I have rebuilt azpainter with gcc instead of clang and now it works.

[2018-04-08 21:58] Symbian9 commented on #6
AWESOME! :1st_place_medal:

- Could you give few screenshots of AzPainter with full screen enabled in portrait view?
- Is it possible use it without VNC? (still not fully understand how Termux+X/GUI works on Android)

[2018-04-08 22:00] xeffyr commented on #6
I will add packages to repo and do screenshots.

[2018-04-08 22:27] xeffyr commented on #6
Unfortunately it shows black screen when opening images:
![screenshot_20180409-012437](https://user-images.githubusercontent.com/25881154/38473218-eb17b240-3b94-11e8-86cd-85f8f12ebf1e.png)
![screenshot_20180409-012443](https://user-images.githubusercontent.com/25881154/38473219-eb369d2c-3b94-11e8-90a6-ac5f15084292.png)

[2018-04-08 22:34] Symbian9 commented on #6
It's look like some issue caused only canvas rendering... Need check canvas rendering code then.

[2018-04-09 10:09] xeffyr commented on #6
On ARM crashes even if built with gcc, so that is not a compiler's problem.

[2018-04-09 10:30] xeffyr commented on #6
I have enabled 'Set to all window mode(W)' and got this result:
![screen](https://user-images.githubusercontent.com/25881154/38493225-18657060-3bfa-11e8-9ef9-84366667950d.png)

[2018-04-15 23:53] antikruk opened #35 "Hi, add, please, Belarusian language"
[be.zip](https://github.com/Symbian9/azpainter/files/1913512/be.zip)

[2018-04-20 11:32] Symbian9 opened #36 "Translating AzPainter 2.1.2"
*AzPainter 2.1.2* released (2018/04/19)

- https://osdn.net/projects/azpainter/releases/69408
  - http://osdn.dl.osdn.jp/azpainter/69408/azpainter-2.1.2.tar.xz

### FAQ

- https://github.com/Symbian9/azpainter/blob/master/translation/HOWTO_en

Translation template (`en` is plain text file; in English)

- https://github.com/Symbian9/azpainter/blob/master/translation/en

Language ID (translation; lo

[2018-04-20 11:48] Symbian9 commented on #36
Cast @danfe

[2018-04-20 12:59] Symbian9 commented on #35
@antikruk, need check: `Размыццё гаўса...`.

Maybe, it should be: `Размыццё Гаўса...`?

[2018-04-20 13:09] antikruk commented on #35
Yes

[2018-04-20 13:33] Symbian9 commented on #35
Fixed & merged: https://github.com/Symbian9/azpainter/commit/70f9c02ecc6b982354b75e6842965d60940c1861

[2018-04-20 13:33] #35 closed

[2018-04-20 13:38] Symbian9 commented on #36
Updated: https://github.com/Symbian9/azpainter/commit/70f9c02ecc6b982354b75e6842965d60940c1861

[2018-04-20 14:00] Symbian9 opened #37 "Packaging AzPainter 2.1.2"
**AzPainter 2.1.2** released (with fixed locales)

- https://github.com/Symbian9/azpainter/releases/tag/v2.1.2

### PACKAGING STATUS

AppImage (from `master`): [![Build status](https://travis-ci.org/Symbian9/azpainter.svg?branch=master)](https://travis-ci.org/Symbian9/azpainter)

[![Packaging status](https://repology.org/badge/vertical-allrepos/azpainter.svg)](https://repology.org/metapackage/azpa

[2018-04-22 15:11] danfe commented on #37
FreeBSD port updated and Belarusian locale added.  Looks like locate patches for previous version were not included in this one for some reason...

[2018-04-22 15:35] Symbian9 commented on #37
@danfe, what you mean?

- https://github.com/Symbian9/azpainter/issues/36

Locales in this repo (https://github.com/Symbian9/azpainter/) fixed already.

But in offcial repo (https://osdn.net/projects/azpainter/) they not yet implemented, so I will ask *Azel* for adding them in official repo too.

[2018-04-22 15:47] Symbian9 commented on #37
@danfe, Thank you! ;-)

Funny, that on Repology it still show previous version of ports, but on Freshports I can see latest build

- https://repology.org/metapackage/azpainter/versions
- https://www.freshports.org/graphics/azpainter

Anyway, I already update manually info about builds for BSD-based OS on the Wiki page

- https://github.com/Symbian9/azpainter/wiki/Packaging-status

[2018-04-23 07:32] danfe commented on #37
Yes, I was talking about Azel's official tarballs (the ones from OSDN).  Obviously, your own repo should contain all the recent changes. :-)

Yes, please ask her to add them.  There was quite a large time gap between two recent releases, and I was a bit surprized to see that I still need to carry locale patches from 2.1.1.

[2018-04-23 14:58] Symbian9 commented on #37
@danfe, why you not use for packaging only source releases from https://github.com/Symbian9/azpainter/ directly? This repo already include "latest official code + fixed locales + patches".

P.S.: I'm in touch with *Azel*, so this Github repo is "near-official patched mirror" of OSDN repo ;-)

[2018-04-23 15:10] Symbian9 commented on #36
@danfe & @antikruk, I near forgot to add your names to `AUTHORS`

- https://github.com/Symbian9/azpainter/blob/master/AUTHORS

How should I write your names? As this:

[code]

Or how should I wrote your names here?

[2018-04-24 01:11] SenlinOS opened #39 "Up zh_CN chinese translator for AzPainter-2.1.2"
Hello everyone。 I am the person responsible for the Chinese translation of AzPainter 2.x for Linux.
It is now 100% translation.
[zh_CN](https://github.com/SenlinOS/warehouse/raw/master/zh_CN%20translator%20for%20AzPainter-2.1.2.zip)
There are two files in Zip: zh_CN & zh_CN.mtr
zh_CN is a translation file.
zh_CN.mtr is a translation application file. (sudo cp zh_CN.mtr /usr/local/share/azpainter/t

[2018-04-24 07:52] danfe commented on #36
Looks good enough to me.

[2018-04-24 13:35] Symbian9 commented on #36
@antikruk &, @danfe & @SenlinOS, file `AUTHORS` just updated:

- https://github.com/Symbian9/azpainter/commit/54a0c60e1c10c710551fe73eabaa07edb37dff98

*Azel* already respond to me via email and promise that she would merge those fixed locales in original repository too ;-)

P.S: This issue left open for other translators, but on next release I will open new issue & call all of you on next round o

[2018-04-28 20:27] Symbian9 opened #40 "Add build instruction for Haiku OS"
![AzPainter](http://i.imgur.com/A7izgWn.png)

### TODO

- https://github.com/haikuports/haikuports/issues/2499
- https://github.com/haikuports/haikuports/tree/master/media-gfx/azpainter

### RELATED

- https://github.com/haikuports/haikuports/tree/master/x11-libs
- https://github.com/haikuports/haikuports/tree/master/x11-misc
- https://github.com/haikuports/haikuports/tree/master/x11-proto

### RE

[2018-04-28 22:46] Symbian9 opened #41 "Setup Travis CI for build DMG (*.dmg)"
Setup Travis CI for build DMG (`.dmg`) for macOS and upload it to releases tag  on Github

- https://github.com/Symbian9/azpainter/releases/tag/continuous

### TODO

- [x] Build scripts
  - https://github.com/abcang/azpainter-mac
  - https://github.com/abcang/homebrew-azpainter
    - DONE by @abcang !
- [ ] Add settings to `.travis.yml` & `upload.sh`
  - https://github.com/Symbian9/azpainter/blob/

[2018-04-29 00:09] #34 closed

[2018-04-29 07:14] aferrero2707 commented on #41
@Symbian9 I will elaborate more about the OSX building on Travis later, meanwhile here are few references:

* relevant section of the travis configuration: https://github.com/aferrero2707/PhotoFlow/blob/stable/.travis.yml#L208
* dependencies build script (based on homebrew): https://github.com/aferrero2707/pf-build-osx/blob/master/dep-install.sh
* OSX bundle packaging script: https://github.com/af

[2018-05-03 14:01] antikruk commented on #36
Hi, I found some inaccuracies. Fixed
[be.txt](https://github.com/Symbian9/azpainter/files/1971195/be.txt)

[2018-05-20 03:37] gnurob commented on #41
For what it's worth--possibly not much, but one can be hopeful--it is a 50m timeout that includes the VM boot. That's for public packages, if you compile a private package, the timeout is 120m. Also, there was a mention here about requesting additional time. Everybody loves Gimp, chances are they'll be kind: https://github.com/travis-ci/travis-ci/issues/7027

[2018-07-13 17:36] RavengamerSpace commented on #36
I can do the translation for the french language

[2018-07-13 17:42] danfe commented on #36
@RavengamerSpace Certainly, please do!

[2018-07-14 14:19] RavengamerSpace commented on #36
@Symbian9 I'm a newcomer. So you can teach me things :-)

[2018-07-15 12:54] Symbian9 commented on #36
@RavengamerSpace, lets make it simple for you!

Firstly, just download file `en` (it is simple text file)

- Direct link: https://raw.githubusercontent.com/Symbian9/azpainter/master/translation/en

Then open it in your text editor (Notepad++, Geany, etc.) and translate all strings to **French**.

When you finish translating save it as file `fr.txt` and attach to the your next comment.

That's all

[2018-07-28 14:02] Symbian9 commented on #40
Due to Haiku OS has no X11 port, there no ways how port AzPainte to Haiku OS.

[2018-07-28 14:08] Symbian9 commented on #36
@RavengamerSpace, any news on translating to French?

[2018-07-29 07:04] RavengamerSpace commented on #36
Hi @Symbian9
Yeah, I've started the translation.
But actually I'm in vacation, so I can't do it.
Sorry

[2018-08-20 20:04] rapidpunches opened #42 "After install some things are missing"
![blacktheme-azpainter-screenshot](https://user-images.githubusercontent.com/32915780/44363350-d9171700-a478-11e8-9f3c-eb5b30f83c70.jpg)

First off this program works flawlessly on lubuntu and I was just testing it on antiX. I tried out the pre-lease AppImage and found the brushes (including the eraser), textures, and color palette missing/blank. So I went back to the latest stable release and it

[2018-08-21 20:10] Symbian9 commented on #42
This is *known issue* of current `AzPainter-*.AppImage` builds & that is why AppImage builds NOT presented for stable releases yet, but I'm working on fix (WIP):

- https://github.com/Symbian9/azpainter/issues/15

But if You will install AzPainter as normal binary package (or will build it from source) there should be NO any issues ;-)

For list of normal binary packages look on wiki page "Packagi

[2018-09-09 23:43] Symbian9 opened #43 "Papirus-like app icon"
Create Papirus-like icon for *Papirus* icon set:

- https://github.com/PapirusDevelopmentTeam
  - [ ] https://github.com/PapirusDevelopmentTeam/papirus-icon-theme/issues/1463

### REFERENCE

- https://github.com/PapirusDevelopmentTeam/papirus-icon-theme/blob/master/tools/work

[2018-09-25 12:47] Symbian9 commented on #36
@RavengamerSpace, any progress on French locale?

[2018-09-25 20:38] RavengamerSpace commented on #36
@Symbian9 Hi, I'm sorry but as a student I don't have a lot of time but I will try to produce something at the end of this week

[2018-10-06 17:14] SenlinOS opened #44 "Up zh_CN chinese translation for AzPainter-2.1.3"
Up zh_CN chinese translation for AzPainter-2.1.3

It is 100% translation.
[zh_CN-2.1.3](https://github.com/SenlinOS/warehouse/raw/master/zh_CN-Chinese-Translation-for-AzPainter-2.1.3.zip)
There are two files in Zip: zh_CN & zh_CN.mtr
zh_CN is a translation file.
zh_CN.mtr is a translation application file. (sudo cp zh_CN.mtr /usr/local/share/azpainter/tr)

[2018-10-07 00:09] imzf commented on #44
@SenlinOS cool(*˘︶˘*).｡.:*♡

[2018-10-07 05:00] Symbian9 commented on #44
@SenlinOS, Thank You!

I will update `master` to `2.1.3` today ;-)

[2018-10-07 19:00] Symbian9 opened #45 "Translating AzPainter 2.1.3"
*AzPainter 2.1.3* released (2018/10/06)

- https://osdn.net/projects/azpainter/releases/70132
  - http://osdn.dl.osdn.jp/azpainter/70132/azpainter-2.1.3.tar.xz
- https://github.com/Symbian9/azpainter/tree/release

### FAQ

- https://github.com/Symbian9/azpainter/blob/master/translation/HOWTO_en

Translation template (`en` is plain text file; in English)

- https://github.com/Symbian9/azpainter/blo

[2018-10-07 20:51] Symbian9 commented on #44
Let's discuss process of updating locales for *AzPainter 2.1.3* here:

- https://github.com/Symbian9/azpainter/issues/45

[2018-10-07 22:36] Symbian9 commented on #10
Sadly, but author (*Azel*) not interested in providing any binary builds.

As I already discussed with Azel, https://github.com/Symbian9/azpainter is like official mirror on GitHub of official repo (that hosted on OSDN).

So, packaging process for AzPainter fully organized by me and package maintainers.

[2018-10-07 22:43] Symbian9 commented on #10
In most cases, *Azel* not care about other users, so any fixes should be added by me

- https://github.com/Symbian9/azpainter

So, what should I do now with build scripts for AzPainter in `release` branch?

@probonopd, is it possible switch AppImage build process on Travis CI from *Ubuntu 14.04* to *Debian 9.x*?

[2018-10-09 01:34] SenlinOS opened #46 "[Hope function] Pattern fill, Transformation-tool, Brushes-group"
* Color-pattern fill
As of 2.1.3, even after filling with a color pattern, it is grayscale fill.
Color pattern fill is a must-have feature.

* Transformation-tool needs opacity display.
Easy to see the reference layer below.

* Brushes-group file import/export
If I share my brushes-files, users will overwrite their own brushes-files.
Users will lose their brushes.

* Does the Brushes use the Brush

[2018-10-09 05:58] probonopd commented on #10
Sure it is possible, but the resulting AppImage would only run on 2017-ish and newer distributions, and would not run on all still-supported versions of Ubuntu. Hence, such an AppImage would not be suitable for being listed on AppImageHub.

The best cause of action is to install or compile a newer version of automake on your Ubuntu 14.04 build system.

[2018-10-09 05:58] probonopd commented on #10
I appreciate the work you are doing but I have given up on application projects that do not want to provide binaries and support users... ;-)

[2018-10-13 11:15] cheeshirecat commented on #46
Also it would be good more options for the brush motor.

[2018-11-13 08:43] danfe commented on #45
Looks like [Belarusian locale fixes](https://github.com/Symbian9/azpainter/issues/36#issuecomment-386305965) are still not committed.

[2018-11-13 09:38] danfe commented on #45
I didn't find any mistakes or typos in the Russian translation, you check that box.  FreeBSD port was updated to version 2.1.3 and also includes the latest fixes to Belarusian and Chinese translations.

[2018-11-13 15:22] antikruk commented on #45
Sorry, i don't understand. I have to confirm it, or a new version has been modified?

[2018-11-13 15:48] Symbian9 commented on #45
**Few new strings added in locale template** of *AzPainter* `2.1.3`!

Try compare `en` locale in `2.1.2` and `2.1.3` versions.

[2018-11-13 15:53] Symbian9 commented on #45
@antikruk, there are few new strings, read my [previous comment](https://github.com/Symbian9/azpainter/issues/45#issuecomment-438315103) (few new functions added in `2.1.3`)

[2018-11-13 16:09] antikruk commented on #45
Ok. I understand. tomorrow I will update the translation

[2018-11-14 06:44] antikruk commented on #45
Done
[be.txt](https://github.com/Symbian9/azpainter/files/2579489/be.txt)

[2018-11-14 12:46] Symbian9 commented on #45
Huh, to be clear, this is still incomplete :-(

Why you remove near all content in `[2015]`?

![pic.1](http://i.imgur.com/aCoxXNJ.png)

Also, you add only 1 new string...

![pic.2](http://i.imgur.com/Gb7DqhA.png)

Translation template (`en` file) for `2.1.3` include next changes:

- New lines:
  - https://github.com/Symbian9/azpainter/blob/release/translation/en#L485
  - https://github.com/Symbian

[2018-11-14 14:01] antikruk commented on #45
Hm, OmegaT has corrupted markup. Check it, please
[be.txt](https://github.com/Symbian9/azpainter/files/2580984/be.txt)

[2018-11-15 02:03] Symbian9 commented on #45
Ukrainian locale (`uk`) now ready for *AzPainter* `2.1.3` ;-)

- https://github.com/Symbian9/azpainter/commit/ce652fa7f8bbe1f53e8398c12c5fb1ab48431823

[2018-11-18 14:42] danfe commented on #45
Oh, I see, a few strings were indeed missing, attaching a patch.  I've compared it to your Ukrainian version, there are two differences: I didn't use elaborate version of "replace and insert horizontally", IMHO it's overly long and simple "replace (horizontally)" is sufficient.  Second, in that context, "minimize" means "minimize window to the taskbar", so I've used more common term for it.  Now,

[2018-11-18 15:14] Symbian9 commented on #45
I will update `ru` and fix `uk` & `be` in `release` branch. Thanks, @danfe ;-)

[2018-11-19 23:40] Symbian9 commented on #16
@izzyaxel, would be you interested in contributing to *AzPainter* development? ;-)

[2018-12-01 22:14] #44 closed

[2018-12-01 22:22] Symbian9 opened #48 "Packaging AzPainter 2.1.3"
**AzPainter 2.1.3** released (with fixed locales)

- https://github.com/Symbian9/azpainter/releases/tag/v2.1.3

### PACKAGING STATUS

- https://github.com/Symbian9/azpainter/wiki/Packaging-status

### TODO

Cast *MX Linux* maintainers
- [x] MX Linux (.deb)
    - https://forum.mxlinux.org/viewtopic.php?f=55&t=44900

Cast @abcang
- [x] macOS
  - https://github.com/abcang/azpainter-mac
  - https://gi

[2018-12-01 23:03] Symbian9 commented on #36
### Translating AzPainter 2.1.3

- https://github.com/Symbian9/azpainter/issues/45

[2018-12-01 23:03] #36 closed

[2018-12-01 23:06] #23 closed

[2019-01-01 15:10] Symbian9 opened #49 "Can't specify workspace for AzPainter"
Posted on OSDN:
- https://osdn.net/review/124264

[2019-01-15 00:41] Symbian9 opened #51 "Transformation-tool needs opacity display"
Easy to see the reference layer below.

Author: *SenlinOS*

[2019-01-15 00:42] Symbian9 opened #52 "Brushes-group file import/export"
If I share my brushes-files, users will overwrite their own brushes-files. Users will lose their brushes.

Author: *SenlinOS*

[2019-01-15 00:43] Symbian9 opened #53 "Brushes support using Brush-ICON display"
It's convenient for people of different languages

Author: *SenlinOS*

[2019-02-17 14:06] EFerryday commented on #52
fyi, old AzDrawing has ability to share brushes separately without having to erase our own brushes. And somehow this feature is removed in AzPainter.
I am not progamming person, but I can open the brush-2.dat with hexa editor. Hopefully we can find something from here,,,

[2019-02-21 19:31] DuendeInexistente opened #54 "Tabs?"
Is it possible to add tab support to azpainter? I can open multiple windows, but that creates issues if you change settings in only one of them.

[2019-03-25 17:33] Symbian9 opened #55 "Custom icons for UI"
### TODO

- Collect 3rd-party icons for UI of AzPainter
- Add instruction into wiki

### REFERENCE

- *AzPainter-adwaita-dark* - https://www.opendesktop.org/p/1263265/

[2019-03-25 17:34] Symbian9 commented on #54
Interesting idea.

[2019-03-25 21:54] P4prik4 opened #56 "Feature Request mypaint integration?"
I very much like the mypaint brushes especially the new ones from the alpha build.
I know mypaint can be used in gimp, was wondering if the same can be done through AZPainter.

[2019-03-25 22:22] Symbian9 commented on #56
This long term task.

### REFERENCE

- https://github.com/mypaint/mypaint
- https://github.com/mypaint/libmypaint

[2019-03-26 00:11] SenlinOS commented on #56
Because of the Libmypaint problem, GIMP can't reproduce the effect of MyPaint brush 100% now.

AzPainter's brushes are also super easy to use.
**I have made 46 AzPainter brushes, which are enough for use.**
![Gqt](https://s2.ax1x.com/2019/03/26/ANMEp6.png)
And the AzPainter brushes shortcut keys are also the best use of all free software.

**But because of some problems, I am waiting! I haven't sh

[2019-03-26 04:36] EFerryday commented on #56
Your brushes are interesting.

Here if you want to share your brushes, just do this :
1. Right Click brush on your brush list and select Copy. You have to do this steps 1 by 1 for each brush.
2. Open your text editor and then paste. You will see the brush configuration values. You can even see texture & brush shape if your brush use external image. Texture & shape images are in /home/user/.azpaint

[2019-03-26 05:10] SenlinOS commented on #56
@EFerryday Indeed! But this is too time consuming.

[2019-03-27 12:22] Symbian9 commented on #56
Thanks!

Currently I'm working on brushes documentation on *AzPainter wiki*:

- https://github.com/Symbian9/azpainter/wiki/Brushes

More details coming soon.

[2019-03-27 12:27] Symbian9 commented on #52
I'm working on "AzPainter V2 Brushes" wiki page

- https://github.com/Symbian9/azpainter/wiki/Brushes

More details coming soon

[2019-03-28 04:54] SenlinOS commented on #52
* Brushes-group file import/export: #52
* Brushes support using Brush-ICON display: #53

I have mailed the software author Azel, and Azel said that when rewriting AzPainter, he will add the above two functions.

[2019-03-28 09:23] Symbian9 commented on #52
Thanks for the info!

"Rewriting"? What Azel mean?

[2019-03-28 10:13] SenlinOS commented on #52
`As for the brush list, I also thought that there was an inconvenient part.`

`With regard to the two functions, I do not know whether it will be implemented soon or will be implemented when the AzPainter is recreated, but I intend to support it.`

This is the original email reply, depending on Azel's arrangement.

[2019-05-01 16:42] SenlinOS opened #57 "Up zh_CN chinese translation for AzPainter-2.1.4"
Up zh_CN chinese translation for AzPainter-2.1.4

It is 100% translation.
[zh_CN-2.1.4](https://github.com/SenlinOS/warehouse/raw/master/zh_CN-Chinese-Translation-for-AzPainter-2.1.4.zip)
There are two files in Zip: zh_CN & zh_CN.mtr
zh_CN is a translation file.
zh_CN.mtr is a translation application file. (sudo cp zh_CN.mtr /usr/local/share/azpainter/tr)

[2019-05-01 18:04] Symbian9 commented on #57
Thanks for the notification!

Now I'm working on merging `v2.1.4` in `dev` branch.

[2019-05-02 11:08] Symbian9 opened #58 "Translating AzPainter 2.1.4"
*AzPainter 2.1.4* released (2019/05/01)

- https://osdn.net/projects/azpainter/releases/71051
  - http://osdn.dl.osdn.jp/azpainter/71501/azpainter-2.1.4.tar.xz
- https://github.com/Symbian9/azpainter/tree/release

### FAQ

- https://github.com/Symbian9/azpainter/blob/master/translation/HOWTO_en

Translation template (`en` is plain text file; in English)

- https://github.com/Symbian9/azpainter/blo

[2019-05-02 11:42] SenlinOS commented on #58
About the update date:
Time should be written as "2019" (for example, in the AUTHORS file).

[2019-05-02 11:44] Symbian9 commented on #58
Yes, I know. It would be updated this week.

[2019-05-02 15:21] aoloe opened #59 "State of Libre Graphics 2019"
The [Libre Graphics Meeting 2019](https://libregraphicsmeeting.org/2019/) is just around the corner!

As usual, the first conference will be the [State of Libre Graphics](https://libregraphicsmeeting.org/2019/schedule-thur-30-05/), where we will give an overview of what has happened during the last year in the world of Libre Graphics.

You're very welcome to submit three slides for your project. T

[2019-05-02 19:56] Symbian9 commented on #59
I will try submit "3 slides" this week ;-)

[2019-05-03 07:10] aoloe commented on #59
thanks!

[2019-05-06 02:23] #57 closed

[2019-05-06 02:29] Symbian9 commented on #58
So, original sources of `v.2.1.4` now merged in `release` branch and is ready for updating translations!

- https://github.com/symbian9/azpainter/tree/release

P.S.: `en`, `ja`, `zh_CN` already updated.

[2019-05-07 18:38] antikruk commented on #58
Done
[be.txt](https://github.com/Symbian9/azpainter/files/3154072/be.txt)
Item "Minimize" don't translated in the previous version
![Здымак экрана_2019-05-07_21-31-42](https://user-images.githubusercontent.com/6292989/57324175-0f341e00-7110-11e9-96f7-4ac0ef38682e.png)

[2019-05-13 08:34] danfe commented on #58
So, how do we translate these new lines?  I came up with the following, but not 100% sure they are the best:
- luminous (add) -> Яркость (повысить)
- luminous (dodge) -> Яркость (затенить)

Also, there is a missing space in the `be` translation, consider this pseudo-patch:
[code]

[2019-05-13 11:37] Symbian9 commented on #58
As variant (need take a look in *GIMP* and *Krita* locales)

- luminous (add) -> ~~Яркость (осветлить)~~ Свечение (добавить)
- luminous (dodge) -> ~~Яркость (затенить)~~  Свечение (отнять)

[2019-05-13 11:40] danfe commented on #58
If GIMP and Krita are using this terminology, there's no need to differ, fine with me.

[2019-05-13 11:57] Symbian9 commented on #58
Fixed now in `release` branch.

[2019-05-13 12:15] danfe commented on #58
Nice.  It would be even nicer if you could remove trailing whitespace in `pt_BR` and `zh_CN` locales. :-)

[2019-05-13 12:20] SenlinOS commented on #58
Japanese (ja) and English (en), they have no spaces. I also did not add space.

[2019-05-13 12:28] danfe commented on #58
I didn't say that you have added them, I'm just saying that right now, in this repository, `release` branch, those two files have trailing EOL whitespace on lines 528 and 360, respectively.

[2019-05-13 12:53] Symbian9 commented on #58
Fixed in `release`.

[2019-05-13 13:09] Symbian9 commented on #58
@SenlinOS, You did..., and I not checked it before merging... BTW, it already fixed in `release`.

Here is screenshot of `zh_CN` file from your [zh_CN-Chinese-Translation-for-AzPainter-2.1.4.zip](https://github.com/SenlinOS/warehouse/blob/master/zh_CN-Chinese-Translation-for-AzPainter-2.1.4.zip)

![pic.1](https://i.imgur.com/4zMIfnF.png)

[2019-05-13 13:38] SenlinOS commented on #58
What! I use Leafpad, it doesn't display these extra characters at all.
It's normal to apply zh_CN.mtr, so I haven't found it yet!
Then I also use Geany!

[2019-05-13 13:53] SenlinOS commented on #58
![img](https://s2.ax1x.com/2019/05/13/E5gYg1.png)
= v =||| Update again will not appear those extra characters!
And I'll update my Git warehouse now.

[2019-05-13 14:03] Symbian9 commented on #58
In *Geany* menu enable "View -> Show White Space"

[2019-05-13 14:09] danfe commented on #58
Or try `grep -n '[[:blank:]]$'`, my personal choice. :-)

[2019-05-13 14:20] Symbian9 commented on #58
@danfe, You forget define names/path to files for check in this command.

[2019-05-13 14:23] danfe commented on #58
I didn't forget anything, I've simply copied my alias and I also assume that we're not idiots here. :-)

I often use it to check stdin, to defining any files would be bogus in this case.

[2019-05-13 15:01] danfe commented on #58
Actually, I happen to like your versions better than mine.  I should have waited for your review before updating FreeBSD port.

[2019-05-13 17:12] SenlinOS commented on #58
`Line 360 is just an annotated description and has no specific effect.`

I saw so many "LF" for the first time, thought it was to delete "LF", ha-ha.
I've set up Geany to save the file, automatically removing the trailing whitespace.
OK~OK

[2019-05-13 18:35] SenlinOS commented on #58
The translation of AzP 2.1.4 was updated again and the address is unchanged.
9 updates.
![Update Notes](https://github.com/SenlinOS/databox/raw/master/Update-notes.jpg)

[2019-05-13 19:54] Symbian9 commented on #58
Also updated in `release` branch.

[2019-05-23 07:52] Symbian9 opened #60 "Stop unexpected brush swapping"
Details:

- http://blog.0xconfig.net/2019/05/23-azpainter-drag.html

### TODO

- https://github.com/Symbian9/azpainter/blob/release/src/widget/DockBrushList.c#L939

[code]

Change to:

[code]

[2019-05-24 10:55] SenlinOS opened #61 "Add Instructions for "Transformation" tool panel"
![Gqt](https://raw.githubusercontent.com/SenlinOS/databox/master/tool-panel.png)
Add Instructions for "Rectangle editing" -> "Transformation" tool panel.

**Zoom selection with center point.**

Search in translation files: [2014]
en:
`+=[Ctrl+Left, Middle]\ncanvas scroll\n[Shift+Left]\ncanvas zoom\n[Alt+Drag Node]\nzoom selection \nwith center point`

I added: `\n[Alt+Drag Node]\nzoom selection \n

[2019-05-24 17:10] SenlinOS commented on #61
Close! I found that not using the ALT key is also the center point zoom!
No need to modify it!

[2019-05-24 17:10] #61 closed

[2019-06-03 01:07] Symbian9 commented on #31
Found that there is *FontForge* MinGW-64 build scripts:

- https://github.com/jtanx/fontforgebuilds

@jtanx, could you help me create similar build scripts for *AzPainter*?

[2019-06-03 02:20] jtanx commented on #31
Sure, I'll take a look this evening.

Just note I've actually just removed all the x11 stuff from FontForge builds, because we can now build the gui without it. But there's some useful stuff there if you have a hard dependency on x11.

[2019-06-03 02:27] Symbian9 commented on #31
Thanks!

[2019-06-03 09:48] jtanx commented on #31
I had a bit of a play around with this. It can start, but it doesn't run (it crashes on doing anything nontrivial).

![image](https://user-images.githubusercontent.com/5137410/58792241-20048080-8637-11e9-89e7-f9967ce9b930.png)

See this branch:
https://github.com/Symbian9/azpainter/compare/master...jtanx:win32

* Must open files in binary mode (O_BINARY)
* You need to write a strndup replacement,

[2019-06-03 15:59] Symbian9 commented on #31
Thank you for try, @jtanx!

I will try find someone who can help with Cygwin build.

[2019-07-11 02:10] danfe commented on #58
So, if two months later no one came with better alternatives, shall you commit these + their UK/BE versions, and submit all new translations back to Azel so she can include them in 2.1.5?

[2019-07-11 18:42] Symbian9 commented on #58
Yes, but need 1 week (little beasy with other task)

I always request Azel to include updates from this GitHub repo ;-)

[2019-07-12 20:50] danfe commented on #58
Good, but actually I don't see how well this works in practice.  So far, we had always been updating/fixing the translations **after** she cuts a new release.  It would be nice if she could send us new language strings several days **before**, so we could provide and send her back any fixes, and package maintainers wouldn't have to keep local patches.  For the last few versions, I always had to pa

[2019-07-13 19:06] Symbian9 commented on #58
I always recommed to use this GitHub releases for packaging instead of patching original Azel's releases ;-)

[2019-07-22 09:00] Symbian9 commented on #58
I started preparation for packaging. So, If someone want add or fix translation for *AzPainter* `v2.1.4` release - you has 6 hours!*

[2019-07-22 09:39] Symbian9 commented on #58
Hey, @SenlinOS, are there any additions in @muirmok's Chinese translation that not yet included in `release` repo?

- https://github.com/muirmok/azpainter

[2019-07-22 10:12] SenlinOS commented on #58
@Symbian9  There is no new update to @muirmok , she let me continue to maintain Simplified Chinese.

The file has not changed and will be maintained by me.

[2019-07-22 15:17] #58 closed

[2019-07-22 15:31] Symbian9 opened #63 "Packaging AzPainter 2.1.4"
**AzPainter 2.1.4** released (with fixed locales)

- https://github.com/Symbian9/azpainter/releases/tag/v2.1.4

### PACKAGING STATUS

- https://github.com/Symbian9/azpainter/wiki/Packaging-status

### TODO

Cast *MX Linux* maintainers
- [ ] MX Linux (.deb)
    - http://forum.mxlinux.org/viewtopic.php?f=134&t=51671

Cast @abcang
- [x] macOS
  - https://github.com/abcang/azpainter-mac
  - https://gi

[2019-07-22 15:35] Symbian9 commented on #48
AzPainter 2.1.4 ready for packaging

- https://github.com/Symbian9/azpainter/issues/63

[2019-07-22 15:35] #48 closed

[2019-09-16 18:09] dtzWill commented on #63
Packaged for NixOS: https://github.com/NixOS/nixpkgs/blob/master/pkgs/applications/graphics/azpainter/default.nix, FWIW! :)

[2019-09-16 18:20] Symbian9 commented on #63
COOL & Thanks!

[2019-09-23 14:33] Symbian9 opened #64 "Add non-uniform resizing option for "Transformation""
Lib: `liblqr`

License: `LGPL-3.0`

- http://liblqr.wikidot.com/
- https://github.com/carlobaldassi/liblqr

[2019-10-18 20:41] Symbian9 opened #66 "AzPainter crashed on initializing "Transformation" window"
### System info

- **Version:** `2.1.4`
- **OS/Platform:** Debian 9.x (x86_64)

### Reproducing

1. Launch *AzPainter* with custom locale:
[code]
2. Select «Rectangle editing» tool;
3. Select rectangle region;
4. Click «Transformation» option icon on «Rectangle editing» toolbar to open «Transformation» window.

### Actual behavior

*AzPainter* immediatly crashed on initializing «Transformation» wi

[2019-10-18 22:54] Symbian9 opened #67 "AzPainter's GitHub organization"
- GitHub organization for AzPainter and other apps based on same toolkit (`mlib` as for now):
  - https://github.com/AzSky (~~free now~~ just reserved by me; would transfer ownership to *Azel*!);
  - https://github.com/azsky2 (free now);

[2019-10-19 07:54] #67 closed

[2019-11-30 15:00] zhoujin7 opened #68 "Appimage does not load translation files."
$ locale
[code]

Click run the appimage, the UI language is English, not Chinese (zh_CN).

[2019-11-30 15:39] Symbian9 commented on #68
I not sure that understand described issue. Could you give more details and step-by-step instruction to reproduce?

FTR, AppImage build is not recommended to use at this moment.

[2019-12-01 02:31] Symbian9 opened #69 "Translating AzPainter 2.1.5"
*AzPainter 2.1.5* released (2019/11/30)

- Original - https://osdn.net/projects/azpainter/releases/71988
  - http://osdn.dl.osdn.jp/azpainter/71988/azpainter-2.1.5.tar.xz
- Fixes - https://github.com/Symbian9/azpainter/tree/release

### FAQ

- https://github.com/Symbian9/azpainter/blob/master/translation/HOWTO_en

Translation template (`en` is plain text file; in English)

- https://github.com/Sym

[2019-12-01 02:38] Symbian9 commented on #63
Next call for packaging would be created after *AzPainter* `v2.1.5` translating would be completed

- https://github.com/Symbian9/azpainter/issues/69

[2019-12-01 02:38] #63 closed

[2019-12-01 02:58] #45 closed

[2019-12-01 05:20] zhoujin7 commented on #68
OS: Linux Mint 19.2 Cinnamon
locale: zh_CN
https://github.com/Symbian9/azpainter/blob/master/translation/HOWTO_en
[code]

**Actual:**
![1](https://user-images.githubusercontent.com/8288988/69909851-66973400-143c-11ea-8fd1-d2c14e43ad13.png)

**expected:**
![2](https://user-images.githubusercontent.com/8288988/69909852-6bf47e80-143c-11ea-93f4-029a4ab8c87e.png)

Another problem, Tool icon is missing.

[2019-12-01 11:21] Symbian9 commented on #68
I see. This is known problems of AppImage build. So, please, do not use it now!

- https://github.com/Symbian9/azpainter/issues/42

@zhoujin7 Install *AzPainter* from *alex-p*'s PPA (for Linux Mint 19.2 Cinnamon you need DEB targeted to Ubuntu 18.04 Bionic):

- https://notesalexp.org/packages/en/bionic/amd64/azpainter/
- mirror - https://launchpad.net/~alex-p/+archive/ubuntu/azpainter/+packages?fi

[2019-12-01 11:21] #68 closed

[2019-12-01 14:23] danfe commented on #69
Apparently, only Chinese translations were merged by Azel from 2.1.4, others are the same.  Something went wrong here, as we should only only translating new strings (or fixing poorly translated old ones).

[2019-12-01 14:43] Symbian9 commented on #69
Seems like @azelpg not merged our fixes from 2.1.4, so I just left locales as it already in `master` branch.

To update each locale translator should manually use `en` as template from `release` branch.

- https://github.com/Symbian9/azpainter/commit/759110d5614ff6f7138fd8ddb51f18f557b3c880
  -  https://github.com/Symbian9/azpainter/blob/release/translation/en

Also, Azel's each official release (

[2019-12-01 20:05] Symbian9 commented on #69
Only for testing purposes, there are already DEB packages for Ubuntu/Debian

- https://launchpad.net/~alex-p/+archive/ubuntu/azpainter
- https://notesalexp.org/packages/en/stretch/amd64/azpainter/

FTR, It would be updated also when all locales would be fixed.

[2019-12-02 06:40] danfe commented on #69
Unless I'm mistaken there are no differences between `translations/en` file from Azel's 2.1.5 release and this repo, which means there are no new strings and you can call for packagers.  I'm currently updating the FreeBSD port.

[2019-12-02 16:12] Symbian9 opened #71 "Packaging AzPainter 2.1.5"
**AzPainter 2.1.5** released (with fixed locales)

- https://github.com/Symbian9/azpainter/releases/tag/v2.1.5

### PACKAGING STATUS

- https://github.com/Symbian9/azpainter/wiki/Packaging-status

### TODO

Cast @abcang
- [x] Mac OS / macOS
  - https://github.com/abcang/azpainter-mac
  - https://github.com/abcang/homebrew-azpainter

Cast @macports
- [ ] Mac OS / macOS (ports)
  - [ ] https://githu

[2019-12-02 16:27] Symbian9 commented on #69
Okay

- Packaging AzPainter 2.1.5 https://github.com/Symbian9/azpainter/issues/71

BTW, I think, fixing locales should be first task.

[2019-12-03 08:55] danfe commented on #69
Well yeah, my point that that per what I see, your repo contains all the latest changes which Azel should have included in 2.1.5, but for some reason she did not.  I did not find any new strings between 2.1.4 and 2.1.5.

[2019-12-03 12:42] Symbian9 commented on #69
No new lines, but one extended line

- https://github.com/Symbian9/azpainter/commit/759110d5614ff6f7138fd8ddb51f18f557b3c880

[2019-12-08 15:29] Symbian9 commented on #6
Please, @xeffyr, retry now with latest `master`

[2019-12-08 15:39] Symbian9 commented on #71
FTR, `master` just got hot-fix that should solve some architecture specific issue (*PowerPC*, *ARM*, etc.)

- https://github.com/Symbian9/azpainter/commit/2564ee559d3aa9a1351f56c6b4c7395c419d288b

[2019-12-08 16:19] ibara commented on #71
Thanks. I'll remove those patches from our local package once 2.1.5 get published.

[2019-12-08 16:33] xeffyr commented on #6
Ok, will try.

[2019-12-08 16:49] danfe commented on #71
Thanks, I've added the patch to the FreeBSD port.

[2019-12-29 09:22] Vouivre opened #75 "Delays after clicking on menu or scrolling"
Hello,

I would like to test AzPainter but unfortunately it's slow to respond to my system. I'm using Kiss Linux and I packaged AzPainter for this distribution. First, I didn't check all dependencies. But it compiled without problems and I can use AzPainter, I get no error. So I don't think a dependency is missing.

When I click on the menu, very often it takes 1-2 seconds to respond, so the menu

[2019-12-29 10:42] Symbian9 commented on #75
Could you provide more info? (AzPainter version, X11 version, distro version, PC arhitecture & system details)

I know nothing about Kiss Linux. Does it use X11 directly or is it Wayland backend for X11 here?

Please, also create issue in one of Kiss Linux trackers

- https://github.com/kisslinux/repo
- https://github.com/kisslinux/community

[2019-12-29 17:20] tristelune1 commented on #75
AzPainter: 2.1.5
xserver: 1.20.6

PC architecture:

[code]

[code]

The distro has no version, a version 1.0 was released a few month ago, but it's a rolling release. At the moment I have the kernel 5.3.6. Natively, xorg is used, it's what I use. This distribution is source based, so I compiled AzPainter. Some software are excluded, but the users can package them. I packaged none of them. The list

[2019-12-29 17:29] Symbian9 commented on #75
Probably. So, try connect with @kisslinux devs OR try launch AzPainter under any other Linux distro.

Because I can't reproduce it on my low-end PC with Debian 9.x (Pentium Dual-Core 1.6 GHz / RAM 2 GB / GPU 512 MB) — I has no any lags.

[2019-12-29 22:16] tristelune1 commented on #75
I have created an issue on `kisslinux/community`. Unfortunately for the moment I can't test it on another distro. Perhaps I'll have the possibility in the next days to install another distro on another computer.

I built `AzPainter` with the following:

[code]

Do you see any problem ? The `DESTDIR` variable is right for Kiss Linux.
Or could you imagine something missing/something which must be se

[2019-12-30 07:10] Symbian9 commented on #75
@azelpg, any ideas?

[2019-12-30 16:12] xeffyr commented on #6
Sorry for delay, the latest `master` works fine:
![Screenshot of localhost:1 () at 2019-12-30 18:11:32](https://user-images.githubusercontent.com/25881154/71590081-e7c31300-2b2f-11ea-9895-b59677400d72.png)

[2019-12-30 16:28] Symbian9 commented on #6
AWESOME! It's great news! Look like New Year Eve magic! :)

P.S.: Please, if you has a free time, provide packages. BTW, in 2020 we would complete this task ;)

[2019-12-30 16:45] xeffyr commented on #6
Packages will be available in repository - https://github.com/termux/x11-packages/commit/d7a3edde297d9f9ca06f48ccffd38c97d99b0fe2.

[2019-12-30 17:30] Symbian9 commented on #6
Thaks!

FTR, As I know, Termux will drop Anroid 5-7 support since 2020, so in future need to find a way on packaging for those platforms too.

[2019-12-30 18:52] Symbian9 commented on #6
@xeffyr, may ask you for `azpainter-*-aarch64.deb` package for Android `5.1` (Termux `0.75`)? Just for my testing purpose.

[2019-12-30 21:51] xeffyr commented on #6
[azpainter_2.1.5-g4bf18c83-0_aarch64.deb.gz](https://github.com/Symbian9/azpainter/files/4011188/azpainter_2.1.5-g4bf18c83-0_aarch64.deb.gz)
[azpainter_2.1.5-g4bf18c83-0_arm.deb.gz](https://github.com/Symbian9/azpainter/files/4011189/azpainter_2.1.5-g4bf18c83-0_arm.deb.gz)

[2020-01-06 21:52] Symbian9 commented on #71
@sikmir, may I ask you for fix Nix package to use patches from my repo?

- https://github.com/NixOS/nixpkgs/blob/master/pkgs/applications/graphics/azpainter/default.nix

Also, could you setup MacPorts using next repos:

- https://github.com/abcang/azpainter-mac
- https://github.com/abcang/homebrew-azpainter

[2020-01-07 02:55] sikmir commented on #71
PR to nixpkgs is aready created https://github.com/NixOS/nixpkgs/pull/75027.

[2020-01-18 01:38] Symbian9 opened #76 "Porting to iOS"
TBA

### REFERNCES

- X11 on iOS — https://maxleiter.com/X11/
  - Discussion — https://news.ycombinator.com/item?id=22080927

[2020-01-18 03:52] MaxLeiter commented on #76
As an FYI, the X11 version would only run on jailbroken iOS running the VNC server.

I tried compiling azpainter as-is and had to specify libjpeg-turbo (like for macOS). Running is reporting `Bad system call: 12` and I can't debug right now, but I'll try to get around to it soon. It'd be great to have a native paint application.

[2020-01-18 04:10] Symbian9 commented on #76
That is expected, and is same behavior as Android port already has

- https://github.com/Symbian9/azpainter/issues/6

[2020-01-25 01:54] MaxLeiter commented on #76
<img width="1024" alt="Screen Shot 2020-01-24 at 5 52 04 PM" src="https://user-images.githubusercontent.com/8675906/73114744-4af75980-3ed2-11ea-9c50-43478e7c991f.png">

The bug is due to shared mem, but could be a problem with my xshm. will investigate.

[2020-01-25 02:03] Symbian9 commented on #76
Cool shot, @MaxLeiter!

[2020-02-08 05:23] Symbian9 opened #79 "Add CMYK support"
TBA

### References

- https://github.com/rmallins/rgb2cmyk

[2020-02-12 16:03] Symbian9 opened #80 "Add HiDPI monitors support"
### Actual behavior

From *Twitter*:

- https://twitter.com/ansdor/status/1227354661214150656

This issue also mentioned by few other *AzPainter* users that has HiDPI monitors.

### Expected behavior

Add HiDPI monitor support for UI.

Cast @azelpg

### System Info

- **Version**: (TBA)
- **OS**: Linux

[2020-02-12 16:27] ansdor commented on #80
I'm the author of the tweet. I was searching for an alternative because all digital painting programs (at least the ones I'm aware of) on linux currently have problems. Krita is slow and buggy, mypaint still lacks some essential tools.

the only problem I found with azpainter is that there's no option to upscale the whole interface to a 4k-suitable size. This is what it looks like on my screen wit

[2020-02-18 09:20] Symbian9 opened #81 "Official AzPainter repo on GitHub (WIP)"
@azelpg, main developer of *AzPainter*, now started working on creating official repo on GitHub

- https://github.com/azelpg/azpainter

I don't know how would be next dev process organized yet. Should I transfer all issues to this new repo?

Please, @azelpg, add more details on next development in comments here!

[2020-02-18 22:48] azelpg commented on #81
Sorry... AzPainter's next development is still a long way off.
Probably more than a year away.
I think that the next version will have many changes, so I will make it alone until it is completed.

[2020-02-19 08:50] Symbian9 commented on #81
Thanks for details! So, I will continue to maintain this repo.

@azelpg, would you regular merge updates (fixed locales, etc.) from my repo to your repo yourself OR should I create pull requests to you repo?

[2020-02-19 22:15] azelpg commented on #81
I want to update myself if necessary.
Thank you.

[2020-03-03 08:04] dylanaraps commented on #75
Just chiming in to note that I can't reproduce this issue at all (I'm the KISS Linux dev). I built azpainter with a basic `./configure --prefix=/usr; make; make install` and it works flawlessly. It's quite nice actually (just waiting on HiDPI support!).

[2020-03-09 17:39] oddnymph opened #82 "No pressure sensitivity with huion tablet"

[2020-03-11 02:13] cheshirecatt commented on #82
How did you install Azpainter? Did you compile or use the deb?

[2020-03-11 02:52] mrgaturus opened #83 "some dialogs causes crashes on latest xfwm4"
AzPainter 2.1.5, Console Log:
[code]
**How to reproduce:**
1. Open AzPainter 2.1.5
2. Draw Something
3. Press Alt + F4

I don't know if is a regression or is an updated dependency with breaking changes causing this crash

[2020-03-12 15:08] cheshirecatt commented on #83
I cannot reproduce the error in ubuntu, possibly it is because some dependency was updated as you say.

[2020-03-13 02:59] mrgaturus commented on #83
i remember some updates of X11 on Arch Linux-distros, maybe it will be broken too on Ubuntu 20.04 and Fedora 32

[2020-03-16 17:15] Symbian9 commented on #82
@oddnymph could you provide more details?

Does you tried firstly setup buttons for *pen tablet* key assignments on *«Button»* tab in *«Environment setting»* window? (open it throw menu *«Setting(O) > Environment setting(E)...»*)

[2020-03-16 18:15] Symbian9 commented on #83
Does you see next dialog before AzPainter closed?

![pic.1](https://i.imgur.com/mSaOS4V.png)

[2020-03-16 20:34] mrgaturus commented on #83
![Peek 2020-03-16 15-32](https://user-images.githubusercontent.com/38407603/76797452-878d5600-679b-11ea-9d77-4318c48a5c3b.gif)

[2020-03-17 08:39] Symbian9 commented on #83
I cannot reproduce it under MX Linux MX-19

As I can see, there no packages in Manjaro repo:

- https://repology.org/project/azpainter/versions

@mrgaturus Did you built it yourself? If so, provide more details about your system

Could you launch it with GDB, reproduce this issue and provide me terminal log of this session?

[code]

[2020-03-17 17:22] mrgaturus commented on #83
Yes, i built it by myself from the official OSDN page and this repo. Here is the backtrace log from gdb
[code]
My System:
Distro: Manjaro 19.0.2 XFCE (Linux 5.5.7-1-MANJARO x86_64 19.0.2 Kyria)
GPU: AMD Radeon R7 260X 1GB (Mesa 19.3.5)

[2020-03-18 10:35] Symbian9 commented on #83
Cast @azelpg

[2020-03-18 23:17] azelpg commented on #83
I can not reproduce it in my environment and I do not know the cause.
The following are worrisome

`#6  0x00005555555cfd21 in mListItemAlloc (destroy=0x5555555e6a90 <_item_destroy>, size=<optimized out>, size@entry=120)
    at src/mList.c:64`

mList.c:
`mListItem *mListItemAlloc(int size,void (*destroy)(mListItem *))`

Argument order does not match.

[2020-03-19 00:27] mrgaturus commented on #83
I see the problem, it's a window manager problem, if i use openbox it doesn't crash, but if i use xfwm4, it crashes. So, don't use latest xfwm4 (it's an awful wm anyways).

[2020-04-01 05:19] kmanalli commented on #83
I confirm in archlinux. Some time ago I started to have very closes It took me a long to realize that it was XFCE's bug: these are the cases that cause the closure:
Warning to overwrite the file / save in different format.
Re-size image canvas.
Paint on hidden layer.

Any other WM works fine, openbox, awesomewm, swaywm, qtile, etc.

[2020-04-02 00:57] azelpg commented on #83
I tried using xfce on a newly installed ArchLinux, but no crash occurred. (xfwm4 = 4.14.0-1)
There may be other conditions.

[2020-04-15 12:28] 4fury commented on #83
I confirm in marco 1.22.4(MATE), xfwm 4.14.1(Xfce) and metacity 3.36.1(MATE).
Log xfwm4 https://github.com/pisilinux/contrib/issues/212

[2020-04-18 17:47] Symbian9 commented on #83
FTR, Actually fix for this issue is in WIP state, so (hopefully) it would be fixed in next release.

1. https://github.com/azelpg/azpainter/commit/d5df54343d01128eb076d4f32ea9faf57575c937
2. https://github.com/azelpg/azpainter/commit/2bff4c88bbfe46dbee6c7cea398eeac02e871ac2

[2020-04-19 05:34] 4fury commented on #83
### azpainter 2.1.6, azpainterb 1.1.2 releases

I confirm: crash and [focus] problems fixed. But have build problems. I build in docker. During install output `Sandbox violation ~ install: cannot create regular file '/usr/bin/azpainter*': Permission denied`

If i write e.g. --prefix=%s/usr % get.installDIR(), build is successfully completed. Azpainter[b] run, but not show icons, not apply settings

[2020-04-19 23:24] azelpg commented on #83
https://github.com/azelpg/azpainter
https://github.com/azelpg/azpainterb

Introduced DESTDIR in Makefile. This may work.
In addition, I changed to update the cache file automatically.

[2020-04-20 01:19] Symbian9 commented on #83
Hopefully, it would help to fix issue with AppImage-specific packaging issue:

- https://github.com/Symbian9/azpainter/issues/15

[2020-04-20 02:41] Symbian9 commented on #83
@azelpg, today I would start working on updating locales for `2.1.6`

[2020-04-20 04:16] 4fury commented on #83
Found, all files installed with 0400 permission. Also, fix application icons name, please. They conflicted, if install azpainter and azpainterb. With new commits build is successful. Thank you!

[2020-04-20 04:59] mrgaturus commented on #83
Thank you, Azel. So is this issue totally solved?

[2020-04-20 14:06] Symbian9 opened #84 "Translating AzPainter 2.1.6"
*AzPainter 2.1.6* released (2020/04/20)

- Original - https://github.com/azelpg/azpainter/tree/master
- For contributing updates - https://github.com/Symbian9/azpainter/tree/dev

### FAQ

- https://github.com/Symbian9/azpainter/blob/master/translation/HOWTO_en

Translation template (`en` is plain text file; in English)

- https://github.com/Symbian9/azpainter/blob/release/translation/en

Language

[2020-04-20 14:10] Symbian9 commented on #69
**ATTENTION!** Lets update locales for *AzPainter* `2.1.6`!

- https://github.com/Symbian9/azpainter/issues/84

[2020-04-20 14:10] #69 closed

[2020-04-20 14:14] Symbian9 commented on #84
**NOTE:** Actually there are NO new strings in comparison to AzPainter `2.1.5`!

So, for AzPainter `2.1.6` update only those locales which not updated for previous releases!

[2020-04-20 14:37] Symbian9 commented on #15
With latest changes in `configure` & `Makefile.in` scripts from @azelpg, AzPainter `2.1.6`  came with top level `$(DESTDIR)` variable for configuring all paths:

- https://github.com/azelpg/azpainter/commit/d7b00a6c5c0971b388f8a7fca37097a70475ee5a

I just merged all latest changes from original repo into `dev` branch in preparation to `2.1.6` release packaging:

- https://github.com/Symbian9/azpai

[2020-04-20 16:21] Symbian9 commented on #15
Automatic build on Travis CI just failed with `dev` branch:

- https://travis-ci.org/github/Symbian9/azpainter/builds/677264124
  - https://api.travis-ci.org/v3/job/677264125/log.txt

[code]

[2020-04-20 23:37] azelpg commented on #83
Updated repository.
Probably this is all right.
Thank you for reporting.

These are APD file associations, but there is no way around the duplication, so I deleted the AzPainterB file.

[2020-04-21 00:26] Symbian9 commented on #83
Thanks, just merged those patches into `dev` branch

- https://github.com/Symbian9/azpainter/tree/dev

[2020-04-21 02:10] 4fury commented on #83
Thanks, it's ok now!

[2020-04-21 07:39] danfe commented on #84
Now, Azel's EN locale is more complete than the one in this repo.  Consider merging the following patch:
[code]

[2020-04-21 08:24] Symbian9 commented on #84
Are you sure that you are looking inside `dev` branch? All those patches from Azel already merged here:

- https://github.com/Symbian9/azpainter/blob/dev/translation/en#L1275
- https://github.com/Symbian9/azpainter/blob/dev/translation/en#L1301

[2020-04-21 08:29] danfe commented on #84
Ah, you're right, I was on `master`, sorry.  I'm not very good with Git and all this branches business, unfortunately. :-(

[2020-04-21 08:35] Symbian9 commented on #84
There was my mistake in this issue header comment, now link to translation template fixed to `dev`.

[2020-04-22 00:04] muevoid opened #85 "Can't save brushes."
Hello! I am quite fond of this program however brushes I make and or import via pasting I cannot save even after hitting the save icon. I am on KISS linux and have packaged it myself however I use the normal compile options and everything else seems to work fine other then saving brushes. Any help is appreciated.

[2020-04-22 06:19] Symbian9 commented on #85
What version of AzPainter you use?

Cast @azelpg

[2020-04-22 06:57] muevoid commented on #85
2.1.5

[2020-04-22 08:42] Symbian9 commented on #85
Could you try compile & install from `dev` branch?

- https://github.com/Symbian9/azpainter/tree/dev

(this branch would be used to form `2.1.6` release this week; WIP)

@dylanaraps could you check it?

- https://github.com/Symbian9/azpainter/wiki/Brushes#copy-paste-and-overwrite-brushes

[2020-04-22 08:51] muevoid commented on #85
I have done that it still seems to not save any new brushes however I could also be doing something wrong. To add a new brush I simply paste in the brush code by hitting the arrow and hitting paste new brush correct? Then press the save icon next to the name or am I missing something?

[2020-04-22 08:58] Symbian9 commented on #85
Could you record screencast video and list all steps to reproduce?

I still has no clear understanding what you are try do:

- Save changes to selected brush?

OR

- Paste new brush from clipboard?

[2020-04-22 09:00] muevoid commented on #85
Sorry I am not quite good at wording things sometimes the problem is I paste in a new brush then I can draw a drawing but If I exit the program and relaunch it it won't save any new brushes I created or made in the last session.

[2020-04-22 09:09] Symbian9 commented on #85
Please, record screencast to show all steps you acted to change/paste/save brushes in AzPainter.

To record screencast I would recommend next apps:

- https://github.com/MaartenBaert/ssr
- https://github.com/vkohaupt/vokoscreenNG

[2020-04-22 09:19] muevoid commented on #85
Here you go:

[2020-04-22 09:20] muevoid commented on #85
Here you go:

[2020-04-22 09:25] muevoid commented on #85
Here you go: https://m.imgur/com/a/JjVrch9

[2020-04-22 11:06] Symbian9 commented on #85
Thanks.

I can NOT reproduce this issue under Debian 10 buster / Xfce.

@muevoid Possibly, this is your environment or KISS Linux issue, but seems like not AzPainter itself.

Please, report your issue to KISS Linux devs too:

- https://github.com/kisslinux/community/issues/153

[2020-04-23 04:02] Symbian9 commented on #84
**NOTE:** Tomorrow I will start packaging, so check your locales if some of you not did it yet!

[2020-04-23 04:09] Symbian9 commented on #66
@azelpg, any ideas? Does it fixed in your repo already?

[2020-04-23 04:14] Symbian9 commented on #49
@azelpg, does it fixed with latest changes in your repo?

[2020-04-23 05:29] muevoid commented on #85
This issue can be closed it is due to sowm not asking to close windows before hand which is intended however there is a patch I am using that has fixed this issue.

[2020-04-23 05:29] #85 closed

[2020-04-23 06:12] Symbian9 commented on #85
So, this is just WM/DE environment issue, right?

[2020-04-23 06:14] muevoid commented on #85
Yep and talked to dylan(the maintainer of sowm) he is merging it so the wm request to shut down instead of force closing so this shouldnt be an issue in the near future.

[2020-04-23 18:02] probonopd commented on #15
Does `./appdir/usr/share/applications/*.desktop` exist?

[2020-04-23 18:26] Symbian9 commented on #15
Seems like latest changes in AzPainter (`configure` & `Makefile.in` fully rewritten for `v2.1.6`) build scripts use next location:

- https://github.com/Symbian9/azpainter/blob/dev/Makefile.in#L225

[code]

So, what should be changed in `.travis.yml`? Or should use other than `configure --prefix=/usr` prefix for AppImage build scenario?

- https://github.com/Symbian9/azpainter/blob/dev/configure

[2020-04-23 19:46] probonopd commented on #15
You must ensure that `./appdir/usr/share/applications/azpainter.desktop` is there. I don't know how AzPainter's Makefile works.

[2020-04-23 22:06] azelpg commented on #49
Yes, WM_CLASS has been set in 2.1.6.

[2020-04-23 22:12] azelpg commented on #66
At least it didn't crash in my openbox environment, so it may have been a WM issue that I fixed in 2.16.

[2020-04-24 08:34] #49 closed

[2020-04-24 08:34] #66 closed

[2020-04-24 08:34] #83 closed

[2020-04-24 08:50] Symbian9 opened #87 "Packaging AzPainter 2.1.6"
**AzPainter 2.1.6** released (with fixed locales)

- https://github.com/Symbian9/azpainter/releases/tag/v2.1.6

### PACKAGING STATUS

- https://github.com/Symbian9/azpainter/wiki/Packaging-status

### TODO

Cast @xeffyr
- [ ] Android / Termux (X11-packages)
  - https://github.com/termux/x11-packages/tree/master/packages/azpainter

Cast @abcang
- [ ] Mac OS / macOS
  - https://github.com/abcang/azp

[2020-04-24 08:51] Symbian9 commented on #71
***Lets package AzPainter 2.1.6!*** https://github.com/Symbian9/azpainter/issues/87

[2020-04-24 08:51] #71 closed

[2020-04-24 09:00] #6 closed

[2020-04-24 09:10] sikmir commented on #87
@Symbian9 Maybe I missed something, but what is wrong with original [azpainter](https://github.com/azelpg/azpainter) repo? Why package maintainers use this one instead?

[2020-04-24 09:24] danfe commented on #87
@sikmir I've always considered this repo as where translation coordination happens.  I didn't even know that Azel is here on GitHub.  I'm using her official tarballs she publishes on OSDN for packaging.

[2020-04-24 09:27] Symbian9 commented on #87
Because this this repo include latest locales update & I actively maintain issues tracker & translations, packaging tasks.

@danfe @sikmir Azel's repo NOT ready yet! See - https://github.com/Symbian9/azpainter/issues/81

[2020-04-24 13:00] ibara opened #88 "Configure script broken"
`$ ./configure CFLAGS="-O2 -pipe"`
configure: line 205: -pipe: command not found

And then it doesn't pick up any of the CFLAGS listed on the command line.

[2020-04-24 13:02] ibara commented on #87
Opened #88 to track a bug that affects packaging.

[2020-04-24 13:04] ibara opened #89 "No stable tarball"
If this is going to be the place where packagers are asked to build packages from, having stable tarballs would be nice. The auto-generated tarballs (aka "Source code (.tar.gz)" and "Source code (.zip)" files) have been known to change over time, which causes all sorts of headaches for packagers.

Uploading a tarball for each release will mitigate that issue.

[2020-04-24 13:12] Symbian9 commented on #87
According to #88, as `v2.1.6` release (`master` branch) came with signification changes in `Makefile.in` & `configure` files highly recommend maintainers to review/rewrite their previous build scripts configuration to meet latest changes.

[2020-04-24 13:17] Symbian9 commented on #88
Seems like previous build configuration are obsolete for `v2.1.6`. Try review your build configuration by looking inside latest `Makefile.in` & `configure`:

- https://github.com/Symbian9/azpainter/blob/master/Makefile.in
- https://github.com/Symbian9/azpainter/blob/master/configure

Cast @azelpg.

[2020-04-24 13:19] ibara commented on #87
Sure, and I have. But that's not actually the issue in #88. The issue is that the configure script is broken. It claims to support environment variables, but it in fact does not (you cannot do something like `env CFLAGS='-O3' ./configure`, it will not work). It accepts some non-standard arguments (CC, CFLAGS, etc.) and even then, does not support those non-standard arguments correctly (since `./co

[2020-04-24 13:24] ibara commented on #88
Sure, and I have. But that's not actually the issue in #88. The issue is that the configure script is broken. It claims to support environment variables, but it in fact does not (you cannot do something like env CFLAGS='-O3' ./configure, it will not work). It accepts some non-standard arguments (CC, CFLAGS, etc.) and even then, does not support those non-standard arguments correctly (since ./confi

[2020-04-24 13:27] ibara commented on #88
To be clear, it doesn't matter to me which form azpainter uses. It can be either `env CFLAGS='-O2 -pipe' ./configure` or `configure CFLAGS='-O2 -pipe'` and either one would be totally OK.

[2020-04-24 13:35] ibara commented on #87
OpenBSD is packaged. However, it will not be able to be committed until after OpenBSD 6.7 has been released in a few weeks.

[2020-04-24 13:57] Symbian9 commented on #89
Just added as `azpainter-2.1.6.tar.xz` asset.

Is it OK now?

[2020-04-24 14:02] Symbian9 commented on #88
I would be happy if AzPainter would use "autotools-less" build configuration, but it depend on @azelpg choice.

So, lets wait on Azel for this issue solution.

[2020-04-24 14:20] ibara commented on #89
Yes, that is good. Thank you!

[2020-04-24 14:25] #89 closed

[2020-04-24 18:48] Symbian9 commented on #87
**UPD**: Additional patch to package `v2.1.6` for some architectures (like *PowerPC* and *ARM*) just merged into `master`:

- https://github.com/Symbian9/azpainter/commit/87ef813c0d8a62e7928b4832ca3a2606860be3c7

Apply it (if needed) for your maintained AzPainter `v2.1.6` packages.

Hopefully, `v2.1.7` would come soon with this patch already merged as part of release tarball.

[2020-04-24 22:15] azelpg commented on #88
I updated configure.

[2020-04-25 23:07] sikmir commented on #87
Created PR https://github.com/NixOS/nixpkgs/pull/86028

[2020-04-26 03:59] #88 closed

[2020-04-26 04:13] Symbian9 commented on #87
**UPD2:** Additional patch to package `v2.1.6` just merged into `master`:

- https://github.com/Symbian9/azpainter/commit/0c91d4650b57992cc857913804fead5afd0fce51
  - Fix `configure`
  - Fix build instruction for Mac OS (see `README` & `README_ja`):
    - ```
      $ ./configure --prefix=/opt/X11
      $ make
      $ sudo make install
[code]

[2020-04-26 22:27] azelpg commented on #87
The version does not change, so please treat the latest version as 2.1.6

[2020-04-26 22:44] Symbian9 commented on #87
OK.

JFTR, Problem was with `v2.1.6` release tarball on OSDN - it changed few times, that is bad practice, because if something released any changes & updates should go into next release; replacing release tarball with another one is bad idea.

[2020-04-28 10:04] Symbian9 commented on #87
**UPD3:** Azel moved all official source downloads to *own website* (and removed their official repos from GitHub & OSDN):

- http://azsky2.html.xdomain.jp/arc/download.html

If you prefer use official tarball for packaging AzPainter `v2.1.6` and add optional patches, here is official `v2.1.6` tarball:

- http://azsky2.html.xdomain.jp/arc/azpainter-2.1.6-200428.tar.xz | MD5: `28486ba31fb2d0e6bcda4

[2020-04-28 10:09] Symbian9 commented on #81
Will close this issue due to *Azel* removed own profiles from GitHub (and earlier from OSDN):

- ~~https://github.com/azelpg/~~
- ~~https://osdn.net/users/azelpg/~~

Official downloads now hosted on official website:

- http://azsky2.html.xdomain.jp/arc/download.html

[2020-04-28 10:09] #81 closed

[2020-04-30 03:37] lanodan commented on #87
Gentoo is maintained by myself in GURU (Gentoo community repository), which I just updated to 2.1.6.

[2020-04-30 09:29] Symbian9 commented on #87
Great! Thank You, @lanodan!

[2020-04-30 16:51] breadnone opened #95 "Plans for native windows build?"
Would love to have native windows build of azpainter

[2020-04-30 17:27] Symbian9 commented on #95
We too, and theoretically its possible, see:

- https://github.com/Symbian9/azpainter/wiki/Packaging-status#windows

But actually we has no someone with experience to package X11 app for Windows, so this feature request is WIP as for now.

[2020-05-01 22:37] breadnone commented on #95
Would be love to work with it if there's a written documentation... Is there any?

[2020-05-02 13:24] Symbian9 commented on #95
I'm not sure what is best source to learn how to compile X11 app under Windows (using Cygwin / MinGW / Xming / etc.), but here are few tutorials:

- https://blog.inventic.eu/2010/11/how-to-compile-open-source-libraries-under-windows-using-mingw/
- https://www.maketecheasier.com/compile-linux-programs-under-windows/
- https://linuxhint.com/linux_graphical_windows_x11_forwarding/
- https://www.hoffm

[2020-05-02 14:04] breadnone commented on #95
I mean, azpainter's documentation

[2020-05-02 16:04] Symbian9 commented on #95
*AzPainter* has no any documentation on compiling it under Windows.

[2020-05-16 12:01] antikruk commented on #84
Hi
[be.txt](https://github.com/Symbian9/azpainter/files/4638307/be.txt)

[2020-06-21 16:53] Symbian9 opened #96 "G'MIC plugin"
### Actual behavior

*AzPainter* has a very limited number of built-in effects.

### Expected behavior

Add `azpainter-gmic` plugin to enhance *AzPainter* with more than 500 effects provided by *G'MIC*.

Add GUI using `mlib` toolkit, as it used in *AzPainter*'s built-in effects.

![pic.1](https://i.imgur.com/IKB8XdB.png)

### REFERENCE

- https://gmic.eu/
  - https://gmic.eu/libgmic.shtml
- https:

[2020-07-07 21:26] Vouivre commented on #75
I have recently switched to `dwm` as my window manager and the problem seems to be solved. I assume `dwm` did not solved the problem. I also tested on `openbox` and all seems to be fine. Before it was not the case. So I think something changed on my system and now the problem has been solved. But I have no idea what happened.

Thank you for your help!

[2020-07-07 21:26] #75 closed

[2020-07-14 15:13] Vouivre commented on #87
Hi, now I can use azpainter without problem. So I have packaged it for KISS Linux.

https://github.com/kisslinux/community/tree/master/community/azpainter

[2020-07-14 17:15] Symbian9 commented on #87
It's great! Thank you, @Vouivre!

[2020-07-25 05:48] blue-devil-93 opened #97 "Where are brushes and icont theme support?"
Hi,

modded the icon theme a bit myself:
Don`t know what  has been done with the original, the purely black and white is not very usable to me.
Not only is it obnly b/w also the icons are very unreadable.  Use gimp and jasc paint shop pro and photoline too.

![screenshot](https://user-images.githubusercontent.com/59343188/88449815-5c51fc00-ce4a-11ea-8ba6-b0d4a36cc7f2.png)

Did make one brush on my

[2020-07-28 11:17] Symbian9 commented on #97
I not see what is wrong according issue title in your comment above. Custom icons & brushes already supported:

- https://github.com/Symbian9/azpainter/wiki/Brushes
- https://github.com/Symbian9/azpainter/wiki/Themes

Could you add more details on what you mean under *"add language support"*?

*AzPainter* already support various languages & include more than 15 locales. If you want to help in impr

[2020-07-28 11:51] blue-devil-93 commented on #97
This image here is the sharp-brush.png
![sharp-brush](https://user-images.githubusercontent.com/59343188/88661243-7f91db00-d0d8-11ea-95b9-95663efa6d1d.png)

Also as link:
https://www.bilder-upload.eu/upload/8fa7d6-1595936812.png

The result looks like this:
![Charc-oil](https://user-images.githubusercontent.com/59343188/88661287-8f112400-d0d8-11ea-80ee-3f1e931e1ea3.png)

[2020-07-28 11:54] blue-devil-93 commented on #84
[de_DE.txt](https://github.com/Symbian9/azpainter/files/4988101/de_DE.txt)
Note: This file has already been send to the email address of the author of this application.

[2020-07-28 11:56] blue-devil-93 commented on #97
Issue can be closed, since translation file has been send and sharp-brush.png provided,

[2020-07-28 11:56] #97 closed

[2020-07-28 13:13] Symbian9 commented on #97
Thanks!

[2020-08-26 11:29] jrdkrtz opened #99 "Clipping Masks and Opacity Lock"
I was wondering, **Clip Studio** and **Krita** both **kept the opacity** of the brushstrokes when drawn over by a clipping mask or with an opacity lock. With AzPainter, this doesn't happen. Meaning when I use opacity lock or clipping mask, the edges of the brush stroke becomes pixelated when painted over and transparency is gone.

Is there any way for you guys to patch this?

[2020-09-27 22:14] poke1024 commented on #82
I actually had a similar issue with a Wacom Tablet on Manjaro/Gnome recently. After going to *Environment Setting*, enabling *pen tablet*, and playing around with the button settings (and clicking on "Please push button on this"), then quitting, and restarting the app, things suddenly worked (and keep to work now). I suspect it might be some initial preferences issue.

[2020-09-27 22:15] poke1024 commented on #80
I'm also experiencing this.

[2020-10-23 10:36] pedropaulonet opened #100 "Appimage not show icons"
On Linux POP OS! , azpainter does not show the icons.

![image](https://user-images.githubusercontent.com/19802396/96993962-63001600-1502-11eb-9b56-367ec2f221bd.png)

[2020-11-10 02:36] danfe commented on #87
FYI the latest version is 2.1.7b4, however, it still lacks some translation patches which should be included before packaging it.

[2020-11-10 06:03] lanodan commented on #87
Ah yeah, looks azel moved from Github to their own website, which sadly doesn't seems to have something like an RSS/Atom feed or mailing-list version of <http://azsky2.html.xdomain.jp/arc/update.html>.

[2020-11-10 08:24] Symbian9 commented on #87
Yeah, I know, but `2.1.7b4` is still "beta", so when *Azel* would release `2.1.7` I'll create new task for translators & packagers.

FTR, @julianaito, could you take a look on `2.1.7b4` — does "*signed char*" already fixed by *Azel*?

- http://azsky2.html.xdomain.jp/arc/azpainter-2.1.7b4.tar.xz

[2020-11-10 15:49] danfe commented on #87
Yes, those were fixed or changed to _int_ when it was more suitable.

[2020-11-10 16:49] julianaito commented on #87
Hi,

It builds and works fine on macppc without the signed char patches. Note that clang-10 emits:

[code]
(there are more of them)

You may want to bump the `std=gnu99` to `std=gnu11`, because it may croak with old gcc-4 compilers.

(fyi @ibara)

[2020-11-24 13:26] musjj commented on #95
Would pen pressure support be possible on Windows?
I tested this with WSL1 + VcxSrv and the program actually runs pretty well. But as expected, the pen pressure doesn't work at all.

[2020-11-24 19:34] Symbian9 commented on #95
Suppose, it may be just WSL issue itself, not an AzPainter issue (as under Linux & macOS there are no such issues).

[2020-11-24 23:56] dellus opened #101 "How to use AzPainter as image viewer?"
This is less an issue but more a wishue.
I have always been longing for a Linux equivalent to Irfanview for Windows. A small, efficient and versatile viewer / editor combo. There is xnview mp, ok, but large, and not open source.
I am on PuppyLinux, a lightweight fast OS and recently stumbled onto azpainter. Small, efficient, fits Puppy very well. I discovered the Show panels button, which clears t

[2020-11-25 00:24] Symbian9 commented on #101
We call it "feature request" ;)

Did you know AzPainter already has "Image viewer" (go to menu "View (V) > Panel (P) > Image viewer (I)" to activate/deactivate it); then you may separate "Image viewer" from main window layout & maximize its window and use as image editor. That's it!

No any additional patches are needed ;)

FTR, If this instruction looks is not fully complete, I may add step-by-st

[2020-11-25 21:12] dellus commented on #101
Thanks for the quick response.
I have indeed not noticed the Image viewer feature, it's a bit hidden. Nice to have, but to be honest, not really what I have been seeking.
I would like to have Previous / Next buttons directly in the main Toolbar, best last after the Release selection button to be easily found and hit. It should then close the present image and open the next or previous image in the

[2020-11-25 23:21] Symbian9 commented on #101
You may send your request on "image viewer" creating as separate app to *Azel* (main developer of AzPainter)

- E-mail: ![`azelpg AT gmail DOT com`](http://azsky2.html.xdomain.jp/mail.png)
- Mail Form: https://form1ssl.fc2.com/form/?id=41eb1dd3b023f4c0

I may agree on this case, but this is a subject for a separate issue/feature request thread.

[2020-11-26 01:14] dellus commented on #101
Again thanks for your quick response.
Maybe there is a misunderstanding of my aim. I do not want the image viewer as a separate app. All I wish is to have a mechanism to open the next or previous image file in a folder just by clicking on a next or previous button (or equivalent keys on the keyboard) instead of having to go to Open and browse to that file to select it and so on. Otherwise same pro

[2020-11-26 07:43] Symbian9 opened #102 "Add option to load opened in "Image viewer""
- AzPainter version: `2.1.6`, `2.1.7b4`
- Platform: all supported

### Expected behavior

@dellus reported:

### Actual behavior

@dellus reported:

[2020-11-26 07:47] Symbian9 commented on #101
If so I may close this issue thread.

This feature request moved to https://github.com/Symbian9/azpainter/issues/102

[2020-11-26 07:47] #101 closed

[2020-11-26 08:24] Symbian9 commented on #102
There are few ways to implement such enhancement:

- Add few entries in the "Image viewer" context menu:
  - `Open for editing(E)`
  - `Load as new layer(L)
- Add icon buttons to "Image viewer" toolbar;
- Add icon buttons on "Layer"
- Add new menu entries into "File" and "Layer" menus.

For example, here is mockup for extending "Image viewer" context menu:

![mockup-1](https://i.imgur.com/NBeySCb.

[2020-11-26 22:17] dellus commented on #102
body { font-family:'Times New Roman'; font-size:17px}

[2020-11-26 22:21] dellus commented on #102
What I am looking for is to get the editor ( not the viewer) to hop to the next or previous image directly, without having to go through the tedious Open procedure and without using the built in extra viewer.
So I would like to have Next / Previous buttons in the editor's main toolbar. They could be next to the Open icons or at the end.
I have tinkered two images to show my intentions, but I did n

[2020-11-27 00:21] Symbian9 commented on #102
Such feature require too complex rework (as you want image viewer integrated in main canvas). Ask *Azel* for this.

Agree. This is not too complex (from coding) task & suppose it could be implemented soon.

[2021-01-14 10:41] dandv commented on #100
Appimage not work at all.

I found this app via https://appimage.github.io/AzPainter/. No appimage to easily download. After I found the download page for appimage, it says build error.

[2021-01-14 10:46] Symbian9 commented on #100
Yep, this is known issue. AppImage builds of AzPainter is ***not ready for use yet***, see:

- https://github.com/Symbian9/azpainter/wiki/Packaging-status#appimage-build

I need someone to help with AppImage creating, but as for now I may just recommend DO NOT use AzPainter AppImage builds.

[2021-01-19 18:19] liltingle opened #103 "does not detect pen tilt"
It would be very good if the inclination of the pencil could be detected to make the application more dynamic, the truth is very good and it has nothing to envy to other drawing apps

[2021-01-23 01:03] liltingle commented on #103
where donations are made, the project has no pattern or something?

[2021-02-08 18:51] JAkutenshi commented on #82
@poke1024 's advice was really helpful! It works for me

[2021-02-17 09:22] geo-historia opened #104 "Azpainter segmentation fault on Raspberry Pi"
First of all, I'm on a Pi 400. The program itself seems to have installed without any problems, its icon even shows up in the graphics tab:
![azpainter1](https://user-images.githubusercontent.com/71405453/108182583-749ca780-7109-11eb-8c25-2e75887c66b5.jpg)

The thing is, when I click on it nothing happens. I tried running it from the terminal but this happens:
![Captura de pantalla de 2021-02-17 1

[2021-02-17 13:31] Symbian9 commented on #104
What AzPainter version you use?

JFTR, It would be better to ask somewhere on Raspberry Community forums/Reddit does it affects other RPi users.

I'm not a RPi user, so can't tell nothing at this moment.

[2021-02-17 15:46] geo-historia commented on #104
I installed 2.1.5. And I'll ask around, see what I can find.

[2021-02-18 00:40] Symbian9 commented on #104
@geo-historia, `2.1.5` is pretty outdated and has some known issues which are resulted in segmentation faults.

Try compile & install `2.1.7`:

1. Tarball - http://azsky2.html.xdomain.jp/arc/azpainter-2.1.7.tar.xz
2. Updated locales (same as in `2.1.6`):
2.1. https://github.com/Symbian9/azpainter/tree/master/translation
2.2. https://github.com/Symbian9/azpainter/tree/master/data/tr

[2021-02-18 20:29] liltingle opened #105 "upgrade brush finger"
Increase the size and characteristics of the finger bush

[2021-02-19 21:22] Symbian9 commented on #105
May you clarify expected behavior?

[2021-02-20 04:37] liltingle commented on #105
That the finger Brush has a characteristic like the transformation of deformation in gimp, or distort move in krita, I attach some images with examples.
https://ibb.co/16bjGz3
https://ibb.co/1Jc7dS4
https://ibb.co/chmD5mv
https://ibb.co/2KD6gGf

[2021-02-22 15:27] geo-historia commented on #104
Installing 2.1.7 did the trick, thank you!

[2021-02-22 15:27] #104 closed

[2021-02-24 09:41] Symbian9 commented on #104
Thank You for feedback! Happy to know it works for You now ;)

JFTR, @geo-historia, may You share **photo** and **screenshot** of your *RaspberryPi device with AzPainter launched*?

[2021-03-01 20:01] geo-historia commented on #104
No problem! Here's a screenshot:
![Captura de pantalla de 2021-03-01 20-50-23](https://user-images.githubusercontent.com/71405453/109551234-9403df00-7ad0-11eb-8a55-8a0dde8ce664.png)

And here's a photo of my (rather messy) setup:
![WhatsApp Image 2021-03-01 at 20 59 32](https://user-images.githubusercontent.com/71405453/109551676-25735100-7ad1-11eb-9cfd-6da74c902e5c.jpeg)

[2021-03-15 20:17] liltingle commented on #103
maybe it will serve as information
https://github.com/DIGImend/digimend-kernel-drivers/issues/340

[2021-03-15 22:29] Symbian9 commented on #103
You may try to ask *Azel* (main AzPainter developer) to take a look on you request:

- http://azsky2.html.xdomain.jp/contact.html#ct1

I will take a look.

[2021-03-19 23:41] liltingle commented on #103
Testing with the evtest command, it gives information about the tilt

- mateo@mateo-Satellite-Pro-L640:`evtest`

No device specified, trying to scan all of /dev/input/event*
Not running as root, no devices may be available.
Available devices:
/dev/input/event9:	UGTABLET 10 inch PenTablet Keyboard
/dev/input/event10:	UGTABLET 10 inch PenTablet Pen

- attached images, I hope this is helpful
- https:

[2021-03-26 03:27] liltingle opened #106 "Upgrade to shortcuts"
I think I'm already bothering you too much xD.
ok, i think it would be great to improve the shortcuts, combinations of keyboard and pen keys for different functions, something like crtl + right click = x thing, crtl + left click = x thing, crtl + center click = x thing, and so on with shift, that would improve the workflow, i insert one of my practices.
![2021-03-25-221942_1366x768_scrot](https://

[2021-03-26 06:09] Symbian9 commented on #106
I don't get it.

Please, provide more info:

1. What is the workflow / use case?
2. What you mean under each `button1`, `button2`, `button3`?
3. What you mean under `x thing` and why there are NO `x thing 1`, `x thing 2`, `x thing 3`? (each `button1`, `button2`, `button3`)

[2021-03-26 09:42] liltingle commented on #106
1.digital painting, the quick change from one tool to another.
2.Pentablet buttons
button 1=click
button 2=right click
button 3= center click
3.crtl+ button 1= color picker "tools" 3.
crtl+ button 2= brushes "from panels" crtl+ button 2= brushes "from panels
crtl+ button 3= zoom "tools" canvas
shift+ button 3= rotate canvas "tools".

as well as shift + button 1, which is to increase the size of th

[2021-04-24 03:54] liltingle commented on #103
@Symbian9 [https://github.com/DIGImend/evdev-dump](url)
and [https://github.com/DIGImend/digimend-kernel-drivers/issues/521#issuecomment-799005901](url)
`libinput debug-events`
![Captura de pantalla_2021-04-23_22-53-18](https://user-images.githubusercontent.com/57455563/115946437-bd186e80-a486-11eb-9149-12d6e34704fe.png)

[2021-04-24 08:04] Symbian9 commented on #103
If so, need to check is there already related issue in X11 (`xev`) bugtracker, and if not need to report it to `xev` devs.

[2021-04-24 14:43] liltingle commented on #103
Ok I will keep it in mind next time, if you think it is useful information to add the pencil tilt feature to azpainter.

[2022-01-24 23:09] Symbian9 commented on #40
**UPD:** AzPainter now is packaged for Haiku, as there is X11 implemented for Haiku finally!

- https://github.com/haikuports/haikuports/issues/2906#issuecomment-1020431202
  - https://github.com/haikuports/haikuports/commit/973fcc0553a331b1fdbfa5620a9192b4be57dbd4
- https://github.com/waddlesplash/xlibe

[2022-01-25 11:46] Symbian9 commented on #40
AzPainter packaging status & links to packages for Haiku added to Wiki:

- https://github.com/Symbian9/azpainter/wiki/Packaging-status#haiku

[2022-01-25 11:46] #40 closed

[2022-06-02 08:37] danfe commented on #84
So, long time no talk. :-)  AzPainter development now happens on GitLab, the latest version is 3.0.5 already.  If there are still plans to provide and support CIS languages, it would be harder now as she apparently had dropped all translations except English, Japanese, Chinese, and Brazilian.

[2022-06-02 09:04] blue-devil-93 commented on #84
I'll look after it. Maybe i can submitt a new merge request for german
language there. Can take some time.